[2014-07-18 17:14] processing-bugs opened #1 "reduce size of processing-android git project"
<a href="https://github.com/benfry"><img src="https://avatars.githubusercontent.com/u/1623101?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [benfry](https://github.com/benfry)**
_Tuesday Apr 23, 2013 at 15:56 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/2_

---

It's currently a 1.4 GB repo. Lots of things that can be removed,

[2014-07-18 17:14] processing-bugs opened #2 "“Smooth is not supported by this hardware (or driver)” with Nexus 4, Android 4.2.2"
<a href="https://github.com/benfry"><img src="https://avatars.githubusercontent.com/u/1623101?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [benfry](https://github.com/benfry)**
_Sunday May 12, 2013 at 21:38 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/3_

---

Original post: https://github.com/processing/processing/issues/173

[2014-07-18 17:14] processing-bugs opened #3 "avoid sketch restart on orientation change"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:41 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/4_

---

Moved from here: https://github.com/pro

[2014-07-18 17:14] processing-bugs opened #4 "Background is copied in the transparents parts of a textured shape"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:44 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/5_

---

Moved from https://github.com/processin

[2014-07-18 17:14] processing-bugs opened #5 "OpenGL Android sketches eventually run of memory"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:45 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/6_

---

Moved from here: https://code.google.co

[2014-07-18 17:14] processing-bugs opened #6 "Finish implementation of OPEN and CHORD drawing modes for arc() on Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:47 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/7_

---

Original: http://code.google.com/p/proc

[2014-07-18 17:14] processing-bugs opened #7 "orientation changes cause "Cannot call endDraw() before beginDraw()" error"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:48 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/8_

---

Original issue: http://code.google.com/

[2014-07-18 17:14] processing-bugs opened #8 "Images not displayed in Android sketches on Windows (P2D/P3D)"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:49 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/9_

---

Original report: http://code.google.com

[2014-07-18 17:14] processing-bugs opened #9 "redraw() doesn't work with P3D on Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:51 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/10_

----

Original report: http://code.google.c

[2014-07-18 17:14] processing-bugs opened #10 "no sketch involving P3D or OPENGL will run on emulator or device"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:55 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/11_

---

Original report: http://code.google.co

[2014-07-18 17:14] processing-bugs opened #11 "Android OPENGL renderer + JAVA2D PGraphics results in PTexture exception"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 21:56 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/12_

---

Original report: http://code.google.co

[2014-07-18 17:14] processing-bugs opened #12 "OpenGL framerate increases on switch in and out of Android app"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:00 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/13_

---

Original report: http://code.google.co

[2014-07-18 17:14] processing-bugs opened #13 "implement size() and createGraphics() for arbitrary renderers"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:01 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/14_

---

Original report: http://code.google.co

[2014-07-18 17:14] processing-bugs opened #14 "means for libraries to automatically add to AndroidManifest.xml when they're imported"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:04 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/15_

---

Original report: http://processing.org

[2014-07-18 17:14] processing-bugs opened #15 "implement signing for distribution of Android apps"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:06 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/16_

---

as the subject says. more here:
http:/

[2014-07-18 17:14] processing-bugs opened #16 "implement tap detection and set correct click count for mouseClicked()"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:08 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/17_

---

implement tap (and counting) methods t

[2014-07-18 17:14] processing-bugs opened #17 "separate "PApplet" into separate View and Activity classes on Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:09 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/18_

----

Earlier report: http://code.google.co

[2014-07-18 17:14] processing-bugs opened #18 "implement selector to choose the default device for debugging"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:11 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/19_

----

currently, if multiple devices are pl

[2014-07-18 17:14] processing-bugs opened #19 "implement means for selecting the AVD"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:12 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/20_

----

Earlier report: http://code.google.co

[2014-07-18 17:14] processing-bugs opened #20 "remove Android SDK installation requirement"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Sunday May 12, 2013 at 22:49 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/21_

---

Moved from http://code.google.com/p/pr

[2014-07-18 17:14] processing-bugs opened #21 "NullPointerException when calling PImage.resize()"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:14 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/22_

---

Original report: http://code.google.c

[2014-07-18 17:14] processing-bugs opened #22 "Implement blendMode() for the default 2D renderer on Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:16 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/23_

---

blendMode() is not yet supported on A

[2014-07-18 17:14] processing-bugs opened #23 "keyCode values are not consistent with PConstants on Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:19 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/24_

---

Original report: https://github.com/p

[2014-07-18 17:14] processing-bugs opened #24 "keyTyped() not implemented on Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:20 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/25_

---

keyTyped() does not exist in the Andr

[2014-07-18 17:14] processing-bugs opened #25 "Android emulator doesn't always start on the first attempt"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:24 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/26_

----

Original report: http://code.google.

[2014-07-18 17:14] processing-bugs opened #26 "images resized with default renderer on Android are pixelated"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:26 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/27_

---

Original report: http://code.google.c

[2014-07-18 17:14] processing-bugs opened #27 "Implement a means to keep the status bar visible on Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:30 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/28_

---

Original request: http://code.google.

[2014-07-18 17:14] processing-bugs opened #28 "request for PFont.Glyph constructor to be public in the android source"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:33 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/29_

---

Original: http://code.google.com/p/pr

[2014-07-18 17:14] processing-bugs opened #29 "Add support for actual mouse events (not touch events mapped to mouse) in Android"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:35 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/30_

---

Original request: http://code.google.

[2014-07-18 17:14] processing-bugs opened #30 "Recent menu gone in Android mode with no sketch open"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:37 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/31_

---

Original report: https://github.com/p

[2014-07-18 17:14] processing-bugs opened #31 "patches to implement the Android version of Processing using the Fragment API"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:38 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/32_

----

Original report with patches: http:/

[2014-07-18 17:14] processing-bugs opened #32 "temporary files (for sketches and logs) are not deleted"
<a href="https://github.com/processing-bugs"><img src="https://avatars.githubusercontent.com/u/3503183?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [processing-bugs](https://github.com/processing-bugs)**
_Tuesday May 14, 2013 at 00:39 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/33_

---

Original report: http://code.google.c

[2014-07-18 17:14] processing-bugs opened #33 "Keyboard doesn't open using MENU button on Nexus (and perhaps other devices)"
<a href="https://github.com/jeffThompson"><img src="https://avatars.githubusercontent.com/u/509469?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jeffThompson](https://github.com/jeffThompson)**
_Friday May 17, 2013 at 21:33 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/34_

---

Having a Nexus tablet and no other Android devic

[2014-07-18 17:14] processing-bugs opened #34 "Update Android section of Processing Wiki"
<a href="https://github.com/jeffThompson"><img src="https://avatars.githubusercontent.com/u/509469?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jeffThompson](https://github.com/jeffThompson)**
_Tuesday May 21, 2013 at 14:57 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/36_

---

Since the Android section of the Processing Wik

[2014-07-18 17:14] processing-bugs opened #35 "add support for icon-96 for xhdpi icons"
<a href="https://github.com/nneonneo"><img src="https://avatars.githubusercontent.com/u/75449?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [nneonneo](https://github.com/nneonneo)**
_Friday May 24, 2013 at 02:52 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/37_

----

xhdpi resolution is used by default on some devices, e.g. Sa

[2014-07-18 17:14] processing-bugs opened #36 "Proposal for a fix of a synchronisation issue with the dequeueing of the eventQueue in android-core."
<a href="https://github.com/wouter-vdb"><img src="https://avatars.githubusercontent.com/u/266284?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [wouter-vdb](https://github.com/wouter-vdb)**
_Sunday May 26, 2013 at 11:55 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/pull/38_

---

I had a consistent problem while handling touch-events i

[2014-07-18 17:14] processing-bugs opened #37 "Processing can't create emulator."
<a href="https://github.com/vormplus"><img src="https://avatars.githubusercontent.com/u/805141?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [vormplus](https://github.com/vormplus)**
_Friday Jun 07, 2013 at 14:24 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/41_

----

There is a problem when you start a sketch for the first ti

[2014-07-18 17:14] processing-bugs opened #38 "mousePressed event lost after menu key pressed (on newer Android versions only?)"
<a href="https://github.com/joshgiesbrecht"><img src="https://avatars.githubusercontent.com/u/3434564?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [joshgiesbrecht](https://github.com/joshgiesbrecht)**
_Thursday Jul 04, 2013 at 17:16 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/44_

---

As per this on the forum:
http://forum.

[2014-07-18 17:14] processing-bugs opened #39 "path to external (non-standard) sketch directory not referenced in build of android tool for processing Edit"
<a href="https://github.com/ld26464"><img src="https://avatars.githubusercontent.com/u/752717?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ld26464](https://github.com/ld26464)**
_Saturday Jul 13, 2013 at 16:39 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/45_

---
- Export to Android device (run on device) hangs at "Waiting f

[2014-07-18 17:14] processing-bugs opened #40 "curveVertex bug"
<a href="https://github.com/yeatsJJ"><img src="https://avatars.githubusercontent.com/u/4486929?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yeatsJJ](https://github.com/yeatsJJ)**
_Monday Jul 29, 2013 at 00:10 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/48_

---

Processing Android curveVertex bug,
the code is as follows:
fi

[2014-07-18 17:14] processing-bugs opened #41 ""Build failed" on example code (Arch Linux x64)"
<a href="https://github.com/procedural"><img src="https://avatars.githubusercontent.com/u/1072168?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [procedural](https://github.com/procedural)**
_Sunday Sep 22, 2013 at 21:40 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/54_

---

Hello. I followed [this tutorial](http://processing.o

[2014-07-18 17:14] processing-bugs opened #42 "added NoTitleBar theme by default"
<a href="https://github.com/redraw"><img src="https://avatars.githubusercontent.com/u/4641572?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [redraw](https://github.com/redraw)**
_Wednesday Nov 20, 2013 at 04:25 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/pull/56_

---

I think that NoTitleBar theme should be set by default, but it's

[2014-07-18 17:14] processing-bugs opened #43 "AndroidManifest "android:debuggable=true" in the exported one."
<a href="https://github.com/redraw"><img src="https://avatars.githubusercontent.com/u/4641572?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [redraw](https://github.com/redraw)**
_Thursday Nov 21, 2013 at 17:09 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/57_

---

When exporting the Android Application AndroidManifest.xml does

[2014-07-18 17:14] processing-bugs opened #44 "External config of Android SDK version"
<a href="https://github.com/emnullfuenf"><img src="https://avatars.githubusercontent.com/u/909774?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [emnullfuenf](https://github.com/emnullfuenf)**
_Monday Dec 30, 2013 at 13:00 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/58_

---

Please enable an external configuration of the Andr

[2014-07-18 17:14] processing-bugs opened #45 "draw() affecting onBackPressed()"
<a href="https://github.com/saranb"><img src="https://avatars.githubusercontent.com/u/2835589?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [saranb](https://github.com/saranb)**
_Thursday Jan 09, 2014 at 21:22 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/59_

---

Processing version 2.1
Android minSDK 8

Overridden onBackPress

[2014-07-18 17:14] processing-bugs opened #46 "Unable to locate javac"
<a href="https://github.com/smoothmango"><img src="https://avatars.githubusercontent.com/u/4790398?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [smoothmango](https://github.com/smoothmango)**
_Monday Jan 27, 2014 at 19:55 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/60_

---

I just downloaded Processing 2.1.1, and when I try

[2014-07-18 17:14] processing-bugs opened #47 "Processing 2.1.1 error 542: Unable to resolve project target"
<a href="https://github.com/KBEAST"><img src="https://avatars.githubusercontent.com/u/6701175?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [KBEAST](https://github.com/KBEAST)**
_Monday Feb 17, 2014 at 04:33 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/61_

---

Hi,

I am running the sample, and I am getting below error.
All m

[2014-07-18 17:14] processing-bugs opened #48 "Arc displayed transparent"
<a href="https://github.com/nurecas"><img src="https://avatars.githubusercontent.com/u/4104423?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [nurecas](https://github.com/nurecas)**
_Wednesday Mar 05, 2014 at 03:23 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/63_

---

Arcs are displayed transparent, is.without fill if a mode l

[2014-07-18 17:14] processing-bugs opened #49 "Creating a custom renderer"
<a href="https://github.com/kiwistrongis"><img src="https://avatars.githubusercontent.com/u/2838640?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [kiwistrongis](https://github.com/kiwistrongis)**
_Thursday Mar 13, 2014 at 00:42 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/64_

---

Moved from processing/processing#2390
Hi ther

[2014-07-18 17:14] processing-bugs opened #50 "Fatal error while starting 3D sketch on Android device"
<a href="https://github.com/RafaelNadal"><img src="https://avatars.githubusercontent.com/u/6952310?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [RafaelNadal](https://github.com/RafaelNadal)**
_Saturday Apr 12, 2014 at 19:06 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/65_

---

I have processing 2.0.3 for win7 64bit. I can ru

[2014-07-18 17:14] processing-bugs opened #51 "Exception thrown in Android mode on right-click->Find in Reference"
<a href="https://github.com/GKFX"><img src="https://avatars.githubusercontent.com/u/5357642?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GKFX](https://github.com/GKFX)**
_Monday Apr 28, 2014 at 16:16 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/66_

---

Opening Processing in Android mode, typing/pasting the sketch below, se

[2014-07-18 17:14] processing-bugs opened #52 "Unable to run on device; stuck compiling"
<a href="https://github.com/GaryHomewood"><img src="https://avatars.githubusercontent.com/u/671408?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GaryHomewood](https://github.com/GaryHomewood)**
_Saturday May 17, 2014 at 12:54 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/67_

----

Hi
I am unable to get a sketch running on And

[2014-07-18 17:14] processing-bugs opened #53 "Making a new PGraphics and displaying causes NullPointer"
<a href="https://github.com/GKFX"><img src="https://avatars.githubusercontent.com/u/5357642?" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [GKFX](https://github.com/GKFX)**
_Saturday May 31, 2014 at 12:19 GMT_
_Originally opened as https://github.com/processing/processing-android-archive/issues/68_

---

The simplest form of this is:

[code]

To rectify it, you need to typ

[2014-07-26 04:38] chepecarlos opened #54 "PVector Problem with implementation of .set()"
When I try to use:

[code]

the compiler gives the issue

[code]

[2014-07-31 03:04] benfry opened #55 "sketches must be removed manually if the debug keystore changes"
https://github.com/processing/processing/issues/275

[2014-08-04 07:22] hiitsu opened #56 "saveframe not working, and glreadpixels is slow"
saveFrame gives me error that glreadbuffer not implemented or supported (galaxy 2).

im trying to take screenshots of the rendered 3d to produce animated gif out of those, im using glreadpixels and its too slow ~200-400ms (galaxy 2 and few newer devies) for my purposes.

is there a faster way to do it with processing core by hooking another fbo somehow, or injecting pure opengl that would work wit

[2014-08-05 19:51] #20 closed, assigned to codeanticode

[2014-08-05 19:54] #1 closed, assigned to nobody

[2014-08-05 19:56] #15 closed, assigned to nobody

[2014-08-05 20:10] codeanticode opened #59 "AVD cannot be created if more than one ABI is available"
Tried to run the sketch in the emulator, but got this error in the console:

[code]

Processing needs to specify the ABI. As a potential optimization, if native ABI is avilable (i.e.: x86), then it could try to use it instead...

Also, do we need to be able of select the AVD (https://github.com/processing/processing-android/issues/19)?

[2014-08-06 18:07] codeanticode opened #60 "Bitmap size exceeds VM budget error when loading many images"
When drawing a lot of PImages (not all at once) with the default renderer, OOM error occurs (for instance, 40 images total, drawing 4 at the time):

[code]

Maybe this is due to the fact we are using Android 10, and according to http://developer.android.com/training/displaying-bitmaps/manage-memory.html: For older Android APIs (10 and lower) you need to manually manage memory using Bitmap.recycle(

[2014-08-07 17:41] #2 closed, assigned to codeanticode

[2014-08-07 19:27] #60 closed, assigned to codeanticode

[2014-08-12 17:46] #51 closed, assigned to nobody

[2014-08-13 03:23] #49 closed, assigned to codeanticode

[2014-08-13 05:10] #47 closed, assigned to nobody

[2014-08-13 05:18] codeanticode opened #64 "Move renderer-dependent SurfaceView to renderer's PGraphics"
After merging https://github.com/processing/processing-android/pull/61, Android mode allows to use custom renderers, with the limitation that they have to be either a descendant of PGraphicsAndroid2D, PGraphicsOpenGL, PGraphics2D or PGraphics3D. The only reason for this limitation is the hard-coded SketchSurfaceView and SketchSurfaceViewGL classes, now inside PApplet. But as suggested in https://g

[2014-08-14 20:46] kiwistrongis opened #67 "ecj.jar isn't found properly"
Hey there,

So I just wanted to open a new issue for the bug that I encountered here: #49
I'm getting the following error when trying to run any sketches:

[code]

Seems to me like ant is trying to eclipse's compiler (which I don't have). Not that it should matter, but I'm on Linux.

I'm on the latest master atm, but I'm going to be gradually working my way backwards through the commits until I fi

[2014-08-15 01:27] #46 closed, assigned to codeanticode

[2014-08-15 01:27] #59 closed, assigned to codeanticode

[2014-08-15 02:57] #55 closed, assigned to codeanticode

[2014-08-15 16:30] kiwistrongis opened #68 "icons/icon-96.png is missing from the repo"

[2014-08-17 17:16] #14 closed, assigned to nobody

[2014-08-17 22:08] #44 closed, assigned to codeanticode

[2014-08-22 13:53] teo1978 opened #70 "Unable to locate javac (everything is installed correctly) Mac OSX"
All the information about the bug is here:
https://github.com/processing/processing/issues/2187
It has been closed because reported in the wrong repo, but the issue is not fixed.

[2014-08-26 16:17] omerjerk opened #71 "Build Instructions"
Hello,
I would like to contribute to processing-android but I couldn't find any docs/wiki on building this repository with the main processing repository.
It would be really great if someone may shed some light on the build process.

Thanks,
Umair Khan

[2014-08-28 11:54] adamjohn opened #72 "Android Mode is not downloaded properly from within Mode Manager"
Hi,
When I try to install Android Mode from within Processing I get the message "Could not find a mode in the downloaded file" in the Mode Manager window. I get the same error on both mac and win.

[2014-08-29 11:26] #71 closed, assigned to nobody

[2014-09-03 06:34] darkwave opened #73 "Mismatched API level inside project.properties (Android mode ver. 3)"
When exporting an Android Project **project.properties** is always _target=android-10_ despite selected target SDK while AndroidManifest.xml is correct.

[2014-09-03 06:44] darkwave opened #74 "exit() not called when stopping a sketch from the GUI"
If I register the exit method using  registerMethod("exit", this); inside setup() it will not be called when I stop the sketch from the GUI stop button. This is important when using webcam in order to dispose it... speaking of dispose: shouldn't it be dispose() instead of exit()?

Registered exit method works fine when exiting using back button on devices.

[2014-10-09 16:35] matteosistisette opened #78 "Sketch variables behave nonsensically unless declared static"
Consider a sketch like this:

[code]

I've run into situations where the method someCallback gets called (and I've definitely checked it does get called, 100%), yet the result of reading the variable in draw() never changes, i.e. it's like as if the variable being written in someCallback() were not the same variable being read from within draw().

someCallback() is some callback method called by a

[2014-10-09 16:48] matteosistisette opened #79 "compile error too generic and unrelated line of code highlighted"
Often, I get an error like this at compile time:
  cannot find symbol
AND the line of code that gets highlighted in the sketch is not the line of code that produces the error (nor is it remotely related to it).
1. The error message "cannot find symbol" lacks the minimum information required. It should at the very least name the symbol that cannot be found. Also, a better error message would tell u

[2014-10-17 22:40] 4ndro1d opened #80 "Android Javadoc?"
I am building an Android Application with Processing. I made all the libs run and wanted to add the Javadoc. I right-clicked the android-core.jar in my referenced libraries and added this url http://processing.org/reference/javadoc/core/ to the Javadoc location path.

For Processing projects not using Android this was working fine, but now it isn't. Is there another doc?

[2014-10-18 12:59] omerjerk opened #81 "Wrong environment used for sdk location"
IMO, we should better use ANDROID_HOME environment variable than ANDROID_SDK for pointing to the sdk location.
I don't remember right now but I think everywhere other than Processing, ANDROID_HOME is used only.

[2014-11-03 18:16] #73 closed, assigned to codeanticode

[2014-11-03 18:18] #72 closed, assigned to nobody

[2014-11-03 18:24] #67 closed, assigned to nobody

[2014-11-03 18:28] #70 closed, assigned to nobody

[2014-11-11 11:22] nonchip opened #84 "wiki page Android outdated (ia32libs)"
in https://github.com/processing/processing-android/wiki#Linux_Users there's a command line targeting ubuntu users:

     sudo apt-get install ia32-libs

this package isn't in the ubuntu repos anymore, because foreign-arch packages are now installed using

    sudo apt-get install <arch>:<package>

[2014-11-12 15:02] codeanticode opened #85 "adb daemon not running on windows"
Tested on a windows 7 64 bit machine without android SDK installed separately. Everything installed from scratch (Processing 3.0a4, Android mode 3.0.1), The device is a Moto E, and it doesn't show up on the device list. Only after running "adb.exe devices" from the command line, the device prompted to authorize certificates from that computer.

@imilka do you have any ideas on why this might happe

[2014-11-14 23:52] Bazmundi opened #86 "Using joysticks on game consoles"
I have a JXD S7800B and have been trying various combinations to try and read the joysticks.

http://www.jxd.hk/products.asp?id=639&selectclassid=009006

Best I can get is an error that dispatchGenericMotionEvent(MotionEvent) is undefined for the type PApplet.

Does this mean Processing for Android has not been built to pick up gamepad joysticks?

I have started by simply trying to modify:
jeffTho

[2014-11-15 11:47] Bazmundi opened #87 "File won't compile"
On windows 7 box.

I downloaded Processing 3.0a4 64 bit.

I setup JAVA_HOME, ANT_HOME, ANDROID_HOME, ADB_HOME variables.

I made sure every variable turned up in path.

Pointed to ADT

Set Android mode.

Loaded hello world and kaput.

![procbang](https://cloud.githubusercontent.com/assets/1772587/5057525/f3ef8cbe-6d14-11e4-81f5-2f49b97e7217.png)

Any suggestions as to what I missed?

Cheers,
B

[2014-11-17 17:42] #85 closed, assigned to codeanticode

[2014-11-17 17:44] #86 closed, assigned to nobody

[2014-12-12 05:50] jwindberg opened #89 "multiple overlapping partial transparent png issues"
I'm rotating two png images around the screen. big round dots, with transparent backgrounds.
The second image draw wipes out the first, leaving the background showing through.
The images draw correctly on windows, this is an android oddity.

[2014-12-15 01:58] JuanIrache opened #90 "Getting OutOfMemoryError more often than before"
Hello,

The latest version is great, but I am bumping into an OutOfMemoryError on a particular device (BlackBerry Playbook). I have double checked that the error does not take place with previous versions of the Android Mode (one I downloaded in October and the one I usually rely on, downloaded in March 2013).

The crash happens in different places, loadPixels(), image(), text()... I have tried re

[2014-12-29 11:59] darkwave opened #91 "get() method doesn't work"
For example if I execute following code:

[code]

And if I touch the display I get this error and the app exits :-(

[code]

If I try to do the same operation on a PGraphics I get this NullPointerException:

[code]

[2014-12-29 18:55] joemckay5 opened #92 "Does the "Export Signed Package" feature work for other people?"
At first I was getting the error "java.io.IOException: Cannot run program "/Applications/Processing.app/Contents/PlugIns/jdk1.7.0_55.jdk/Contents/Home/jre/bin/keytool": error=2, No such file or directory". Then I copied a version of keytool from Library/java/ into that folder and now it gives me a long list of java.lang.Exception errors.
I'm on mac  10.9.5, Processing 2.2.1, and Java is up to date

[2015-01-02 02:47] sunofkyuss opened #93 "sketch doesn't open in emulator"
![ekran alintisi](https://cloud.githubusercontent.com/assets/9921265/5593953/bff2e3d0-9239-11e4-81fc-a8f7409cb5f6.PNG)

it gets stuck at that "Runnig sketch on device..." writing.
I did the port setting in preferences.txt
and virtual machine's name is Processing-0221. (I am not so sure if this is matter)

what am I supposed to do for running a sketch in emulator?

[2015-01-09 00:47] jeboyd opened #94 "no android mode in mode manager"
I had android mode enabled on 2.2.1 but was having some trouble.  I "removed" android mode thinking I could re-install.  Now Mode Manager does not show Android Mode.

![mode-manager](https://cloud.githubusercontent.com/assets/10457178/5673798/54e6ad22-975e-11e4-9d97-173f6e04d2c3.png)

[2015-01-12 18:39] joemckay5 commented on #94
You need to do it manually. Your sketchbook folder should now have a "modes" folder in it along with "libraries". Download android mode and put it in this folder. Restart Processing and it should work.

[2015-01-12 20:50] pdonoso commented on #94
I downloaded as Zip and then copied the unzipped folder in the modes folder, but it still doesn't appear. What could I do?

[2015-01-13 18:07] joemckay5 commented on #94
This step circumvents the mode manager window. Click the "java" button on a sketch and Android should be one of the modes you can switch to.

[2015-01-15 19:42] codeanticode commented on #92
Hello, the Android Mode release that includes the export signed package functionality requires Processing 3.0 or higher. Not sure if you can make it work properly in 2.2.1. You could try to copy the keytool file from precisely the 1.7.0_55 version of the JDK into /Applications/Processing.app/Contents/PlugIns/jdk1.7.0_55.jdk/Contents/Home/jre/bin/. Maybe the keytool you copied from Library/java/ co

[2015-01-16 19:29] joemckay5 commented on #92
Thanks for writing back. I've updated to 3.0a5.
Now I'm getting an error saying "java.io.IOException: Cannot run program "/Users/username/Developer/android-sdk-macosx/build-tools/.DS_Store/zipalign": error=20, Not a directory
Does this indicate that I have not installed something?

[2015-01-23 19:17] hcrux commented on #94
I've the same problem and I can't fix it. I've made all the steps as pdonoso and still I dont have androidMode to chose. How can i solve it? should i give up on processing?

[2015-01-27 17:04] EmperadorTico opened #95 "Processing.net problem: High timeout, when the client tries to connect and the server does not exist."
Hello

I am making an android app.

the processing.net library works great while the server is working.

However, when I try to turn on the Android app (client) and the server is idle, the app crashes for over a minute.
Using processing.net in windows, something similar happens, but the waiting time is reduced to about 10 seconds.

The main problem is that while java creates the connection, the ap

[2015-01-27 18:24] jeboyd commented on #94
I solved the problem by restoring the files to the modes folder from a backup.  I suppose I could have done this by downloading instead.

[2015-01-28 17:56] EmperadorTico commented on #95
You can close issue:
Answer: http://forum.processing.org/two/discussion/9202/processing-net-high-timeout-when-the-client-socket-tries-to-connect-and-the-server-does-not-exist#latest

[2015-01-30 10:30] TheRealSimJoo commented on #94
Same problem here. Can't install the mode, I tried about everything... Anyone any ideas?

[2015-01-31 06:24] Ariane98 commented on #87
Hi
I'm having the same problem with Processing 2.2.1
I'm not sure how to install the new version of AndroidMode though...do I need to compile the whole git folder ?

[2015-02-02 07:21] XshadowlynxX opened #96 "P2D, P3D, and OPENGL options in size() crash sketch in emulator"
Whenever I try and do something like this:
[code]
The processing sketch running in android mode crashes.
This however works fine:
[code]

Any keyword other then JAVA2D crashes the sketch.
I think the problem is related to:
[code]

[2015-02-03 18:24] XshadowlynxX commented on #92
.DS_Store is a hidden file that mac osx puts in every directory you've visited. I don't know how to fix this problem but it sounds like processing is trying to read .DS_Store as a directory. So I think it's processing's fault.

[2015-02-10 09:13] Stoyz commented on #47
Is there another way to make it usable? Like changing to an earlier version (API 20 for example)?

[2015-02-14 09:32] omerjerk commented on #31
@codeanticode @benfry
I'd like to implement this enhancement. Can you just tell me some point to keep in mind while implementing this ?
The above link is not working.

[2015-02-14 10:24] omerjerk opened #97 "processing-android not getting built"
@benfry can you confirm like if processing-android is getting built or not.
[code]
Just need to make sure, the problem is not on my part.
I can fix this easily if it's not getting built.
Some of the errors are due to changes in processing-core.

[2015-02-16 13:20] #97 closed

[2015-02-16 15:38] benfry commented on #97
Several of those are because the location of the ANTLR JARs changed and you'll want to update them (so long as the Android Mode depends on Java Mode, it can inherit JARs from it).

[2015-02-16 17:41] omerjerk commented on #97
Yes. It's building fine. The pull request which I sent incorporate these changes.
Anyways, just notify me when you're done with the main processing APIs. I'll update everything in android mode.

[2015-02-16 20:20] benfry commented on #97
Great, thank you!

[2015-02-24 14:38] yass-n opened #99 "Use in eclipse?"
Is there a way to use processing-android as a library so it can be added to eclipse projects?

[2015-02-24 14:50] omerjerk commented on #99
There's no way to do this as of now. I'll see if anything can be done.

[2015-02-24 17:33] yass-n commented on #99
Already in the [wiki](https://github.com/processing/processing-android/wiki#Using_Eclipse_for_Development), sorry. The solution in this [link](http://blog.onthewings.net/2013/04/25/setting-up-a-processing-android-project-in-eclipse/) works.

[2015-02-24 18:06] omerjerk commented on #99
cool. I didn't know.

[2015-02-28 17:15] scottlittle commented on #3
Has this issue been resolved?  I am having this issue with my Galaxy S3 with Android 4.3 and Processing 2.0.3 for Mac OSX 10.9.  I am specifying landscape orientation in the code. Unless I start it in that orientation, it crashes.

[2015-02-28 17:34] ZachSundberg commented on #3
I'm now running 3.0a4 (alpha) and it appears to have been resolved.  I'm now running all my apps using P2D without issues.

[2015-02-28 20:42] scottlittle commented on #3
I forgot to mention that I'm using P3D.  I'll give the alpha version a shot and get back.

[2015-03-01 23:27] scottlittle commented on #3
Processing 3.0 with Android mode 3.0 did not work.  It compiled but crashed upon launch.  It complained about something about putting stuff outside the renderer.  I was able to get it to work by reverting back to Processing 2.0.3 and its prepackaged Android mode, removing the orientation(LANDSCAPE) line and adding android:screenOrientation="landscape" in the XML file as described here: http://foru

[2015-03-02 08:26] scottlittle commented on #3
If not already implemented in a current version, would it be possible to change the orientation code to add the line to XML file through the preprocessor?

[2015-03-25 20:22] eviltnan opened #101 "Command line script"
Hey,

is there any tutorial how can I export processing project to android project from command line? I have found the processing-android script, but it crashes with the following error message:
[code]
Thanks in advance,
Sergey

[2015-03-27 05:08] merkkien opened #102 "PGraphics issue using P2D/P3D"
Hello,
I got an issue with PGraphics for Android, after several tests i found out that without specs, the render in createGraphics works fine, but when I use P2D or P3D it gets an error. This is an example code:

    PGraphics pg;

    void setup() {
      pg = createGraphics(40, 40, P2D);
    }

    void draw() {
      pg.beginDraw();
      pg.background(100);
      pg.stroke(255);
      pg.line(

[2015-03-28 04:11] omerjerk commented on #102
I also get this error "Cannot run the OpenGL renderer outside the main thread..." whenever I try to create custom PGraphics object. It's because glThread is null and never set. I'm not sure of what should be the best way to fix this. In my fork of android-mode, I've created a setter method for glThread object.

[2015-03-28 19:12] emnullfuenf opened #103 "Native Libraries not found"
I am trying to write a sketch using the MetaioSDK. The SDK consists of two JAR and some .so files. I've placed them in the "code" folder of the sketch. They are copied and dexed. But they are not accessible in the sketch.

Not sure if it's my fault or a bug. But i couldn't find any example with native code.

Sketch structure:
code/
  android-support-v4.jar
  armeabi-v7a/
    libavcodec.so
    liba

[2015-03-28 19:44] emnullfuenf commented on #103
Got it. It seems Processing-Android doesn't copy the .so files. I had to put them in a JAR archive.
|--lib:
|--|--armeabi:
|--|--|--.so files.

Thanks to Assaf Gamliel at Stackoverflow:
http://stackoverflow.com/a/17131418

[2015-03-29 15:01] emnullfuenf opened #104 "White screen when setting P3D and orientation to landscape"
When i am setting the orientation to landscape and the renderer to P3D i'm getting a white screen on Motorola Moto G 2014 and a LG Nexus 4 (both Android 4.4.4). And the sketch freezes. Setting either landscape or P3D works.

Processing console reports this when P3D is enabled:
"debug:
Smooth is not supported by this hardware (or driver)"

println in draw() does not print since the sketch is stuck.

[2015-03-29 15:27] emnullfuenf commented on #104
It seems to work when i set landscape orientation in AndroidManifext.xml:

<activity android:name="" android:screenOrientation="landscape">

But only when the device screen is active when launched. If the screenlock is active i'll it's stuck at the background color of the sketch.

[2015-03-29 16:12] omerjerk commented on #104
A call to `orientation()` changes the orientation of app at runtime. The app first starts in portrait and then rotates by 90 degree. White screen could be due to processing-core not fully complying with the activity life cycle events. I'll probably have a look at it.

[2015-04-01 14:58] omerjerk commented on #102
@codeanticode
glThread is assigned [here](https://github.com/processing/processing-android/blob/master/core/src/processing/opengl/PGLES.java#L199), but I think this method is not called in this case and (this)[https://github.com/processing/processing-android/blob/master/core/src/processing/opengl/PGraphicsOpenGL.java#L6313] false causing the above error.
Any idea how should we proceed with this ?

[2015-04-20 07:39] emnullfuenf opened #105 "displayWidth and Shader"
I tried to run this example on Android in order to mirror the sketch via shader:
http://forum.processing.org/one/topic/how-to-mirror-the-left-half-of-the-canvas#25080000002617551.html

It works with a fixed sketch size. Using displayWidth and displayHeight mirrors the screen not in the center (592) but at the right side at around 1000 (1024?) in landscape mode. In portrait mode it's also shifted t

[2015-04-20 10:18] Loadus opened #106 "Java mode not found"
Build fails when Java mode is not found - any instructions on what to put and where (I'm most likely doing something seriously wrong)?

Complete output >> http://pastebin.com/YGjArhLa

[2015-04-20 16:06] omerjerk commented on #106
Which version are you on ?

[2015-04-20 19:44] Loadus commented on #106
This was the latest that was cloned just hours before.

There were lots of other problems but they were solvable, this stumps me, because I don't know who needs to read who and where (I don't have much knowledge about the build mechanism).

[2015-04-21 07:27] omerjerk commented on #106
The master branch of this repository is not buildable with the master branch of processing.
processing has moved ahead and we haven't updated this repository yet.
Why are you really building the Android mode yourself ?
If you want to run your processing sketches on your phone, then just download processing 2.2.1 from the main website, open the IDE and from there, download the Android mode.
In case

[2015-04-21 08:15] Loadus commented on #106
Aaah, I didn't know that. I was trying to find a way to get createShape() working on Android. But I gave up and used a very very ugly hack.

I haven't learned Git yet, if I do a pull request I'll most likely divide something with 0.

Cheers for the tips! ^.^

[2015-04-28 10:10] Loadus opened #107 "Enable createShape()?"
createShape() seems to be in the source, but it's marked as unapproved and protected. Can it be enabled somehow? I tried subclassing it but ran out of coding skills really fast - same when I tried to build it from source.

An app that I'm cooking up creates shapes from the user's input so this would be a key to a lot of things. : )

[2015-05-09 19:48] ashleyjamesbrown opened #108 "Unable to install Android Mode in 3a07 - error log"
console log as follows when attempting to hit install from the Add Mode
Im on Mac OSX 10.9.5 - Java 8 update 45

java.lang.NoClassDefFoundError: processing/mode/java/JavaMode
	at java.lang.ClassLoader.defineClass1(Native Method)
	at java.lang.ClassLoader.defineClass(ClassLoader.java:760)
	at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
	at java.net.URLClassLoader.defineC

[2015-05-09 20:17] ashleyjamesbrown commented on #108
Ok so know since doing that i CANNOT OPEN processing 2beta5 which was my only solid way of getting android stuff on my phone.
I also CANNOT OPEN 2.2.1
I have rebooted but i have no idea what is going on ?

[2015-05-09 20:53] ashleyjamesbrown commented on #108
In fact Android Mode is messed up on all versions of processing on my machine now.

[2015-05-09 21:00] ashleyjamesbrown commented on #94
same thing here. i tried copying it back in to the modes folder and no joy - it doesnt show up as a mode.

[2015-05-09 22:10] ashleyjamesbrown commented on #108
I can install Android mode on 3.0a5 no problems.

[2015-05-18 19:03] codeanticode commented on #108
Hi, we need to update the android mode to work again with the latest alphas/upcoming beta. We have a Google Summer of Code who will be working on the android mode starting next week, hopefully we will be able to take care of these issues soon.

[2015-05-18 19:07] #103 closed

[2015-05-18 21:02] codeanticode commented on #102
Hi, I'm able to reproduce this issue on 3.0a5, definitely a bug in the renderer.

[2015-05-18 21:08] codeanticode commented on #96
Hi, unfortunately we haven't had time to add support for P2D/P3D sketches in the Android emulator. I know that for a [while now](http://www.learnopengles.com/android-emulator-now-supports-native-opengl-es2-0/) the emulator has been supporting native OpenGL ES 2.0, but it never was priority for us to figure out how to enable that support for Processing sketches. I'm marking this issue as an enhance

[2015-05-18 21:09] #93 closed

[2015-05-18 21:09] codeanticode commented on #93
could a misconfiguration in the system, not possible to tell from the information available.

[2015-05-18 21:10] codeanticode commented on #101
questions like this one should be posted on the forum.

[2015-05-18 21:10] #101 closed

[2015-05-18 21:10] XshadowlynxX commented on #96
Thanks for the info. Good job so far. It’s great that 2D Processing even works!

Tavi Kohn
X <mailto://XshadowlynxX@gmail.com>shadowlynxX@gmail.com <mailto://XshadowlynxX@gmail.com>

[2015-05-18 21:11] #99 closed

[2015-05-18 21:12] codeanticode commented on #107
will look into this, createShape() should work the same way as it does on the desktop.

[2015-05-18 21:12] #95 closed

[2015-05-18 21:13] #106 closed

[2015-05-18 21:18] codeanticode commented on #94
I have tried installing the Android mode on 2.2.1 without problems on Mac (10.9.5, don't think that matters). However, the version of the mode available for 2.2.1 is quite buggy, I'd recommend using the one for 3.0a5, or wait until the 3.0 beta and the accompanying android mode come out. We will be making a push to update the android mode during this year's Google Summer of Code.

[2015-05-18 21:18] #94 closed

[2015-05-18 21:19] codeanticode commented on #81
we will look at this once we start with GSoC :-)

[2015-05-30 15:23] bastova opened #111 "image(PGraphics, int, int) crashes on Android 5.1 after initializing PGraphics with createGraphics(..,..,P3D/OPENGL)"
Sample Code:

    PGraphics feedback;  // Image drawn onto by & re-fed to the shader every loop
    public void setup() {

        size(displayWidth, displayHeight, OPENGL);

        noStroke();
        frameRate(60);

        feedback = createGraphics(width/2, height/2, OPENGL);

        feedback.beginDraw();
        feedback.background(0);
        feedback.endDraw();
    }
    public void draw()

[2015-05-30 15:25] bastova commented on #111
Sorry, I noticed that this is already a reported bug. I was able to narrow it down a little to the image() method. Maybe this will help a little.

[2015-05-31 10:55] tlecoz opened #112 "LowLevelGL Example crash immediatly"
Hello !

I would like to do some performance test with Shaders on my android tablet but the LowLevelGL example crash with the error message :

OpenGL error 1280 at bot beginDraw(): invalid enum FATAL EXCEPTION: GLThread 4879 Process: processing.test.lowlevelgl, PID: 13527 java.lang.RuntimeException: GL function glDrawBuffer() is not available on this hardware (or driver) Read http://wiki.processin

[2015-05-31 22:02] codeanticode commented on #111
Thanks for posting, will mark it as duplicate of https://github.com/processing/processing-android/issues/53

[2015-05-31 22:02] #111 closed

[2015-06-02 11:32] navarromiguel opened #113 "P3D doesn't draw when the current Activity is not the Main"
I'm working with a 3D sketch and I found a problem with Activities:
When my sketch is the first (the main/launcher) Activity, it works well but, when I launch an Activity for run a 3D sketch, it doesn't work (not draw).
If I comment the sketchRenderer method, it works, but only the 2D rendering...
For example (try it):

-----------------------------------------------------------------
import andro

[2015-06-13 09:32] tlecoz commented on #112
Hello !

I'm sorry to ask this but I would like to know if you're going to fix it soon ( < 2 months) or if I have to choose another tool to create my android app.

Thank you again for all your work

[2015-06-13 13:48] codeanticode commented on #112
Hi, we are currently working on the android mode with @omerjerk, as part of Google Summer of Code. We should have a working version compatible with Processing 3 soon.

[2015-06-13 14:40] omerjerk commented on #112
This is easily fixable. We should fix this by the end of next week.

[2015-06-13 20:18] tlecoz commented on #112
Great news ! Thanks a lot !

[2015-06-14 09:49] Bazmundi opened #115 "Build broken"
Happily coding for Samsung S2.

Decided to change version of Android SDK build tools, and changed from 19.1 to 22.0.1.

However, with no source file changes the build C:\Development\adt-bundle-windows-x86_64\sdk\tools\ant\build.xml started failing with message Cannot run program:
C:\Users\rr\AppData\Local\Temp\android7214396220583717459sketch\${aapt}

I thought this might have been the build tool

[2015-06-14 11:06] Bazmundi commented on #115
Worse.  I downloaded new SDK tools and pointed the processing IDE to that and still same problem.

[2015-06-14 11:10] Bazmundi commented on #115
Worse, it doesn't matter what source file I use.

I have tried running processing in administrator mode etc.

[2015-06-14 18:23] RShankar commented on #115
I teach a course that uses Prof. Sauter's book. Several students in the class (and I)  have this problem. For some it is OK. I found this online: http://connortumbleson.com/2015/02/16/fixing-apktool-bug713/ . Any recommendations on the next step? I have tried  everything Bazmundi has tried. Same Problem.  Thank you.

[2015-06-15 09:01] fiskurgit opened #116 "Build broken with latest processing core"
Is the SurfaceInfo class in the main processing project new? AndroidPreprocessor seems to be expecting an int[], have put this quick fix together: https://gist.github.com/fiskurgit/faf756da90be76639604

Also, is there a forum where I could discuss the possibility of changing the structure of this project? Having a huge 'PApplet' class that extends Activity is unhelpful for Android development, the

[2015-06-15 10:55] omerjerk commented on #116
Hi @fiskurgit,
We are working on both the issues you mentioned during this Google Summer of Code.
We're converting PApplet class from Activity to a Fragment so that it can be added anywhere the user wants.

[2015-06-15 11:09] fiskurgit commented on #116
Great stuff, I won't duplicate the effort then!

A View may be preferable to a Fragment though (or at least the API should make both available), as there'll be issues using a Fragment in a DreamService. Processing is perfect for creating Daydream screensavers on Android TV...

[2015-06-16 15:26] Lm0490 opened #117 "Build Failed"
Hej Everyone,

I am running Processing 2.2.1 on Windows 7 with a 32-bit software on a 64-bit system. I installed the android mode as well as the Android SDK with all necessary tools (see below).
My system set-up used to work without a problem but then yesterday it suddenly stopped working and I have been receiving the same error since "BUILD FAILED" (see full-feedback below).

Android SDK things I

[2015-06-23 19:22] codeanticode commented on #104
landscape orientation should not result in a white screen, @omerjerk have you experienced a similar behavior?

[2015-06-23 19:51] omerjerk commented on #104
I haven't experienced anything like this. I was just thinking that orientation should be hardcoded in AndroidManifest.xml. Though, I can't really think of any downsides of the current approach.

[2015-06-26 17:24] benfry opened #119 "Goodbye Gingerbread!"
For 3.0, we'll be dropping Gingerbread support and moving to API 15. A few things for us to consider:

* What documentation or other wiki pages need to be updated? (Please file issues for these, in this repo)
* What code can we remove that was a workaround for supporting Gingerbread? (i.e. in the past we had to get a GL method via reflection, though I think that was to support Froyo/2.2)
* Is ther

[2015-06-26 18:44] omerjerk commented on #119
I guess, first thing should be to remove support v4 jar from the code.

[2015-07-01 01:28] ManickamRM commented on #87
Getting Error while running on Device:
Hi
 I am also getting the same error(RUNNING ERROR IN JAVAC.EXE COMPILER) in windows 7 32-bit and i am using processing 2.2.1.I have downloaded all the files in andriod sdk except images.
 I have set all the path variables ANDRIOD_HOME,JAVA_HOME,ANT_HOME,ADB_HOME,PATH
 ANDRIOD_HOME=C:\Users\Acer\AppData\Local\Android\android-sdk\tools
 ANT_HOME=C:\Users\Acer\

[2015-07-01 12:50] b2renger opened #120 "Table's insertRow doesn't work"
This is an issue specific to the android mode in 2.2.1

It's related to this issue, that is resolved in java mode since 2.1
https://github.com/processing/processing/issues/2137

running the example code given crashes the app launching. Running it from eclipse the app doesn't crash and I get this as an error (not exactly the same sample code as in the one below the array is much bigger)

"Caused by

[2015-07-01 13:23] b2renger commented on #120
Looking at the source code from the processing-android repo, the fix is not present :

https://github.com/processing/processing-android/blob/master/core/src/processing/data/Table.java#L1858

should be

System.arraycopy(columns[col], insert, stringTemp, insert+1, rowCount - insert);

[2015-07-01 14:06] #120 closed

[2015-07-13 04:57] codeanticode commented on #115
hey guys, we just pushed a new release of the android mode

https://github.com/processing/processing-android/releases

It is meant to be used with Processing 3.0a11, which is not out yet, so you can test it by building Processing from source.

[2015-07-19 11:39] Bazmundi commented on #117
I had the same problem.  For me it seemed to be related to running the Android SDK changing the build tools version.  Even when I went back to the original the problem persisted.  Android SDK somehow could not recover once you move away from the build tool version 19.1 odd.

The fix is quite draconian.

Rip out Processing.

Rip out Android SDK.

You will find that processing will set up a folder i

[2015-07-25 02:17] onlylemi opened #124 "no build"
I user, but have some problems, please help me! why ?
CameraView extendx PApplet.
but "Type mismatch: cannot convert from CameraView to Fragment"

![12](https://cloud.githubusercontent.com/assets/7680698/8887475/edc09e8e-32b5-11e5-856a-062b7c5c7d90.png)

[2015-07-25 10:02] omerjerk commented on #124
Are using the latest release ?
The latest release doesn't contain the changes in which PApplet is a child of Fragment. Those changes have already been merged to the master branch of this repository though.
We should be able to make another release this week.
If you really want to get things running, you'll have to build android-core.zip yourself.

[2015-07-25 10:39] omerjerk commented on #102
This issue should be closed now. I'm not able to reproduce it in my video library with the latest changes.
Thanks @codeanticode  :)

[2015-07-25 13:59] onlylemi commented on #124
@omerjerk Thank you.
I don't use the latest release. In addition, I find that I don‘t use `size()` in `setup()`, but can use in `settings()` or not use `size()`.
Now I can use it in **eclipse**, but not use the latest release in **processing**.

[2015-07-25 19:15] aymentoumi opened #126 "Sketch reset when screen orientation changed"
I remark that when screen orientation changed the applet reset and the sketch code restart from the beginning so the variables are set to their initial values and the setup method executed again.

[2015-07-26 19:59] DEHiCKA commented on #112
Please fix it! All bare opengl stuff  is not working in Android mode becouse of this damn bug
Thanks!

[2015-07-27 03:29] codeanticode commented on #112
Fixed with https://github.com/processing/processing-android/commit/ecbab95e3938683135de261cf506aebf7d219b76

[2015-07-27 03:29] #112 closed

[2015-08-04 06:57] piethon1 opened #128 ""Cannot find 'android.view' library" when trying example sketch"
I've installed AndroidMode, and finally got it working with Processing (had to download version 3.0a11. Now I'm just trying to do a sample build to make sure it's running properly.

Here's the code I'm trying:
[code]

But I just keep getting told that there is no Android view library, or even no Android library if I try `import android.*;`

[2015-08-04 18:49] codeanticode commented on #108
latest release of the mode works with 3.0 alpha 11. Needs to be installed manually due to a bug the contributions manager, but this will be fixed in the next Processing release.

[2015-08-04 18:49] #108 closed

[2015-08-04 18:52] codeanticode commented on #117
Hi guys, please try the latest version of the mode with 3.0 alpha 11 (after updating your android SDK). This should solve the issues, however you need to install the android mode manually for the time being (download the zip file, uncompress inside the sketchbook/modes folder), because of a bug in the contribution manager. This will be fixed in the next Processing release.

Please let me know if y

[2015-08-04 18:56] codeanticode commented on #115
Could you test the latest release of the mode with Processing 3.0 alpha 11 and let me know if it works for you? Thanks!

[2015-08-11 15:38] codeanticode commented on #116
Port to Fragment already implemented, will be available  in next release of the mode.

[2015-08-11 15:38] #116 closed

[2015-08-11 15:40] codeanticode commented on #117
You should be able to install the latest version of the android mode using the Contribution Manager in any of the beta releases of Processing 3.

[2015-08-11 15:40] #117 closed

[2015-08-11 15:41] codeanticode commented on #115
@Bazmundi could you test the latest version of the mode with Processing 3.0 beta 1 or newer and let us know if you still have this problem.

[2015-08-11 15:42] codeanticode commented on #126
Duplicate of https://github.com/processing/processing-android/issues/3

[2015-08-11 15:42] #126 closed

[2015-08-11 15:44] codeanticode commented on #68
added in https://github.com/processing/processing-android/commit/f7222113cd61d262037b49b74b3d16d89bb5dee9

[2015-08-11 15:44] #68 closed

[2015-08-11 15:45] #19 closed

[2015-08-11 15:45] codeanticode commented on #31
Implemented with https://github.com/processing/processing-android/pull/118

[2015-08-11 15:45] #31 closed

[2015-08-11 15:48] codeanticode commented on #19
AVD automatically selected based on the SDK https://github.com/processing/processing-android/pull/127

[2015-08-11 17:34] omerjerk commented on #128
Please make sure you're in Android mode.
Also, use the below code instead of the above code :

[code]

[2015-08-11 18:39] omerjerk commented on #92
It is working fine on Ubuntu.

[2015-08-11 19:01] omerjerk commented on #91
This error is fixed now.
Also, we have updated how `size()` works.
Have a look here how size() is transformed during the preprocessing stage - https://github.com/processing/processing-android/wiki#Screen_Orientation_and_the_size_command

[2015-08-11 19:09] omerjerk opened #132 "PDEX error"
[code]

Whenever I open the above sketch, I get the following error :

[code]

Any idea what does it mean ?
Is there a problem with Android mode ?

[2015-08-11 19:33] benfry commented on #132
It's probably that android.jar needs to be added to the list of library JARs so that the error checker service is aware of it. Check out the recent change I made to the main PDE so the result of `getCoreLibrary()` was added and could be checked against. @Manindra29 wrote the `ErrorCheckerService` code and can probably provide other pointers on how it should be handled.

[2015-08-11 23:16] Bazmundi commented on #115
Nope. Happy enough with 2.whatzit.

Sent from my iPhone

[2015-08-13 12:50] omerjerk commented on #132
I'm not getting it.
Where do we need to add android.jar ?
Right now, getCoreLibrary https://github.com/processing/processing-android/blob/master/src/processing/mode/android/AndroidMode.java#L89 returns null.

[2015-08-13 15:59] Manindra29 commented on #132
Were you able to find out why the classPath object is not getting
initialized (as per our discussion)? Android.jar should be added to the
classPath object's search path.
On Aug 13, 2015 5:50 AM, "Umair Khan" <notifications@github.com> wrote:

[2015-08-17 19:34] codeanticode commented on #17
No longer valid with transition to Fragments API.

[2015-08-17 19:34] #17 closed

[2015-08-17 19:34] codeanticode commented on #18
Implemented by @imilka in GSOC 14

[2015-08-17 19:34] #18 closed

[2015-08-17 19:36] codeanticode commented on #25
The emulator starts. Because it typically takes a long time, the sketch might fail to run in the first attempt. The solution is to run the sketch again once the emulator is ready.

[2015-08-17 19:36] #25 closed

[2015-08-17 19:43] codeanticode commented on #132
I still get "Cannot find "android.view" library. Line 1 in tab sketch_150817b", but not NPE after merging PR https://github.com/processing/processing-android/pull/134

[2015-08-17 19:44] codeanticode commented on #37
Solved with https://github.com/processing/processing-android/commit/c9aee98d2267e28586ea7e66284a7a035f91ab8f and others.

[2015-08-17 19:44] #37 closed

[2015-08-17 20:26] codeanticode commented on #84
Wiki has been updated by @omerjerk  and myself. Thanks!

[2015-08-17 20:26] #84 closed

[2015-08-17 20:30] codeanticode commented on #92
@joemckay5 I haven't seen this error (testing on Mac OSX 10.9.5 with latest 3.0 beta and android mode), but if you have chance please confirm is still happening on your system.

[2015-08-17 20:30] #102 closed

[2015-08-17 20:34] #115 closed

[2015-08-17 20:35] codeanticode commented on #124
new release of the mode will be out shortly, and will incorporate the Fragment changes from @omerjerk

[2015-08-17 20:35] #124 closed

[2015-08-17 20:37] codeanticode commented on #9
works with latest release of the mode

[2015-08-17 20:37] #9 closed

[2015-08-18 02:36] omerjerk commented on #132
I'm also getting this.

[2015-08-18 04:29] codeanticode commented on #132
see my last comment in https://github.com/processing/processing-android/pull/134

[2015-08-19 06:13] Manindra29 commented on #132
I found the cause of the NPE bug. It's because of a race condition. The classPath variable (which was null here) is initialised in ASTGenerator.loadJars(), which is called from ErrorCheckerService.prepareCompilerClasspath() in a separate thread. Due to a race condition, when a sketch is just being loaded, classPath is sometimes accessed before it has even been initialised and thus the NPE is throw

[2015-08-19 06:20] Manindra29 commented on #132
I can add a null check as a stopgap fix, but this probably needs a second look.

[2015-08-21 08:31] darkwave opened #136 "Error after downloading SDK in Android Mode release 0241"
After choosing **Download SDK automatically** and when download is almost done  I got this error on the console. After that Processing is unable to find the SDK (and actually some files are missing from the _sdk folder_).

I'm using Processing IDE compiled using up-to-date git repository and latest Android Mode ZIP file released.

[code]

[2015-08-21 13:50] omerjerk commented on #136
Hi @darkwave
Really sorry for this error. I couldn't fully test automatic downloading of SDK because of slow internet. Let me see what's going wrong here.

[2015-08-21 14:55] omerjerk commented on #136
We parse this xml - https://dl-ssl.google.com/android/repository/repository-10.xml to download the Android SDK. Apparently, Google has removed the the full urls of all the SDKs for API level 14 and above. It'll take some time to fix. I'll need to resort to StackOverflow or Google Groups probably.
Meanwhile, I'd suggest you to download the Android SDK manually from Android SDK manager.

[2015-08-22 07:39] darkwave opened #138 "Processing IDE exits if you don't answer to Automatic/Manual Android SDK dialog"
I'm having a pretty subtle issue here: if you wait some seconds answering SDK Automatic/Manual dialog after installing Android Mode *Processing IDE exits silently*. It simply quits with no messages.

I tested it on a fresh installed latest version of both IDE and Android Mode.

[2015-08-24 08:35] Dringo42 opened #139 "Unable to start Java mode"
I've updated to the new version of processing 3.0b4 and attempted to install android mode where I received a error every time I try to swap over to android mode.
![picture1](https://cloud.githubusercontent.com/assets/11827306/9435879/8642a47c-4a8a-11e5-936b-b0122a95e32a.png)

[2015-08-24 12:36] codeanticode commented on #139
Ok, thanks for letting us know. It seems you are on windows, what version?

[2015-08-24 14:46] omerjerk commented on #138
I'm not having this issue.
Can you try again if you're actually having it or was it just by mistake ?

Thanks

[2015-08-24 14:55] codeanticode commented on #139
actually, it is an issue in Processing core, not in the android mode, might be fixed with https://github.com/processing/processing/commit/0836dad678b3a71b83bca07da66b1cbee3ded06d

[2015-08-24 16:08] benfry commented on #139
Fixed with 3.0 beta 5.

[2015-08-24 16:08] #139 closed

[2015-08-24 23:46] Dringo42 commented on #139
Thanks for the response. This is using the latest version of android mode
3.0-alpha3.
On 24/08/2015 10:06 PM, "codeanticode" <notifications@github.com> wrote:

[2015-08-25 00:02] benfry commented on #139
The latest version of Processing (3.0 beta 5, posted ~8 hours ago) has the fix, download that and you should be all set.

[2015-08-25 05:58] Dringo42 commented on #139
Thanks. I've updated and I can now open it. I do have a new bug though.
Every time I run a sketch I receive this error. The thread number seems to
change each time.

​

On Tue, Aug 25, 2015 at 9:32 AM, Ben Fry <notifications@github.com> wrote:

[2015-08-25 11:30] DEHiCKA opened #140 "3.0b5 with android mode #241 building forever"
3.0b5 with android mode #241 (3.0a3) + API15 installed. It opens in andoid mode, but when I try to build anything its building forewer.

Exception in thread "Thread-35" java.lang.NoSuchMethodError: processing.mode.android.AndroidBuild.getImportedLibraries()Ljava/util/ArrayList; at processing.mode.android.AndroidBuild.copyLibraries(AndroidBuild.java:978) at processing.mode.android.AndroidBuild.crea

[2015-08-25 12:06] emnullfuenf commented on #140
Similar situation here. I just updated to Processing 3.0b5. Had to reinstall Android mode. Doesn't find JAR libraries in code Folder and builds forever.

No library found for com.qualcomm.vuforia.Vuforia
Exception in thread "Thread-23" java.lang.NoSuchMethodError: processing.mode.android.AndroidBuild.getImportedLibraries()Ljava/util/ArrayList;
	at processing.mode.android.AndroidBuild.copyLibraries

[2015-08-25 12:59] emnullfuenf opened #141 "PApplet's Activity needed"
I am currently implementing Vuforia AR for Processing. Until Processing 3.0b1 i could pass the PApplet (this) as Activity to the Vuforia initialization. This doesn't work anymore.

Is there a way to get the PApplet's Activity?

The activity itself is declared private.
private Activity activity;

this.getActivity() isn't available from within the sketch.
activity = getActivity();

[2015-08-25 13:01] emnullfuenf commented on #140
Everything works in Processing 3.0b4.

[2015-08-25 13:02] codeanticode commented on #141
This is a result of making PApplet a descendant of Fragment. @omerjerk what do you think about this?

[2015-08-25 13:07] codeanticode commented on #140
I just pushed a [new release](https://github.com/processing/processing-android/releases/tag/latest) that should be work with beta5. You can install it manually, or wait until it shows up on the Contribution Manager. Please let me know if you still experience this issue. Thanks!

[2015-08-25 13:10] emnullfuenf commented on #140
Thanks! Builds the examples in 3.0b5.

[2015-08-25 13:54] DEHiCKA commented on #140
Thanks!

[2015-08-25 14:34] emnullfuenf opened #142 "onCreate() doesn't work anymore"
Until Processing 3.0b1 i could override and call onCreate(). It doesn't work anymore with the current version.

Example:

[code]

Furthermore i get errors regarding the imports:
"Only a type can be imported, android.app.Activity resolves a package"
"The class Activity does not exist"
"The class Bundle does not exist"

[2015-08-25 15:59] emnullfuenf commented on #141
It seems that this.getActivity() is actually working. Although Processing shows an error that "getActivity() is not available and marks it red.

[2015-08-25 16:27] #140 closed

[2015-08-26 08:48] DEHiCKA commented on #142
Same here.
Imports from android.os, android.view are not working anymore.

[2015-08-26 13:01] omerjerk commented on #141
Yeah. getActivity() returns the activity to which PApplet is attached.
getActivity() is marked red because we're having problem with the PDE error checking.

[2015-08-28 06:07] #132 closed

[2015-08-28 18:10] codeanticode commented on #128
@omerjerk @Manindra29 I run the mode after applying Manindra's fix https://github.com/processing/processing/commit/76a9facff4b579a40cf8bc0631503ee1115894c6 but still get

Cannot find "android.view" library. Line 1 in tab sketch_150828a

Is there anything else we need to update in the mode's code?

[2015-08-28 18:29] omerjerk commented on #128
I'm also getting it.
When I edit the code to add new import, I get exception here - https://github.com/processing/processing/blob/master/java/src/processing/mode/java/pdex/ErrorCheckerService.java#L871

[2015-08-29 04:20] Manindra29 commented on #128
This has now been fixed in https://github.com/processing/processing/commit/77801509fbf436603a2646e84bfcf0beb537b2ca

@codeanticode @omerjerk, please verify. We can then close this.
@piethon1 Please download the latest processing-master to try it out.

[2015-08-29 04:20] omerjerk commented on #128
This is fixed now with the latest commits by @Manindra29.

[2015-08-29 04:20] #128 closed

[2015-08-29 11:17] codeanticode commented on #128
confirming that the "cannot find library" error is gone. This fix will be incorporated in the next release of the mode, to be out alongside beta 6. Thanks @Manindra29 !

[2015-09-06 02:03] yifanshu02 opened #145 "[Without Android mode in the ADD MODE ]when i add the Android mode，PDE show this ... how to do"
![qq 20150906095800](https://cloud.githubusercontent.com/assets/12606871/9702024/0a819b4c-547e-11e5-88b5-6cecd04c936c.jpg)

[2015-09-09 10:09] DEHiCKA commented on #142
Also calls like getWindowManager(), getWindow() are not working for me anymore even though i've imported android.view.WindowManager;

ERROR in ... The method get...() is undefined

[2015-09-09 14:27] codeanticode commented on #142
@omerjerk do you have any thoughts on this?

[2015-09-10 11:37] emnullfuenf opened #146 "save(), saveFrame(), saveStrings() doesn't work"
When i am using save(), saveFrame(), saveStrings() there's no file written and no error is raised.

This snipped works:

    File storageDir = Environment.getExternalStorageDirectory();
    String fileName = new File(storageDir, "/Pictures/" + "p5.jpg").getAbsolutePath();
    println(fileName);
    image.save(fileName);

But i couldn't get a stringWriter working this way.

[2015-09-10 12:49] omerjerk commented on #142
@DEHiCKA
You can call those methods by preceding them with `getActivity()`.
For e.g. `getActivity().getWindowManager()`

[2015-09-10 13:12] DEHiCKA commented on #142
Thanks. Missed that since R241 it's a Fragment instead of Activity.

[2015-09-12 18:49] codeanticode opened #147 "Static sketches and incremental drawing don't work properly"
Things like:

[code]

or

[code]

show incorrect or glitchy rendering... seems that the FBO layer is not properly initialized with the latest contents from the framebuffer. Tested with latest release (243) on a Moto E with Android 5.1.1

[2015-09-14 13:43] omerjerk commented on #142
Also, we've fixed all the import related errors in the latest release.
This commit https://github.com/processing/processing/commit/f397415ba04cfdd1aa01e0ffc84b45134e37aa88 fixes the bug.

[2015-09-14 14:11] #142 closed

[2015-09-21 13:15] codeanticode opened #148 "Select target SDK shows two SDKs selected simultaneously"
With the latest mode:

![image](https://cloud.githubusercontent.com/assets/62246/9992624/9ecb2aa8-6049-11e5-8b4c-c2fe24dcb918.png)

[2015-09-24 09:20] jimrolland opened #149 "how many files can we put in the data folder?"
Hello,

I'm trying to export a signed package and I have this problem : when I have 78 files (gif, jpg, mp3) in the data folder (less than 5Mb), the app is created. But when I have more than 78 files, the process doesn't go to its end and no error message is given. It's not due to a file in particular (I tried with different files).
I also tried to create subfolders in the data folder but the prob

[2015-09-25 01:01] omerjerk commented on #149
I'm not really sure why is it happening.
We copy the files from the `data` folder of a Processsing project to the `assets` folder of the final Android apk.
There's no such limitation on the number of files in the assets folder.

Can you try the latest release of Android mode with the latest release of processing ?

[2015-09-25 07:38] jimrolland commented on #149
Well, I tried instlling Processing 3b7 but never managd to run android mode with it...
So, I found anotre solution : I saved an android project from processing, then imported it on Android Studio and I finally succeeded in building my .apk.

[2015-09-25 08:37] omerjerk commented on #149
Android mode is listed for download in the Contributions Manager of the new Processing.
What problem did you face while installing Android mode ?

[2015-09-25 13:30] benfry commented on #149
Android Mode will need to be re-released for beta 7 due to a change to internal API used by the editors.

[2015-09-26 05:40] codeanticode commented on #147
Partially fixed with https://github.com/processing/processing-android/commit/fb8feaf4019d6b31ba51259a3dcfb7c695d9fe2e. Incremental drawing is working, but static sketches still don't work, just show a black screen:

[code]

[2015-09-26 10:35] shlomihod opened #150 "Sound in Android Mode"
Hey,

Is it possible to run Processing sketch with sound files in Android device using the Android mode?
Trying do so in mac, didn't work. I guess it's because the sound library of Processing is external one?

For example, I get this error with Processing 3.04b @ Android Mode running on device (Sony Xperia Z3) the code in the documentation for the sound library (https://processing.org/reference/li

[2015-09-30 13:05] omerjerk commented on #150
There is no sound library for Processing for Android yet.
Even the video library was created during this GSoC - https://github.com/omerjerk/processing-video-android
Sound library won't be too difficult to incorporate but someone will need to sit and implement it. :P

[2015-09-30 13:15] omerjerk commented on #148
Hi @codeanticode
I'm not able to reproduce this error because Google has removed API M form the SDK manager now.
So, as of now, this bug won't show up who doesn't already have M Preview SDK installed.

I think that the error is most probably because both the SDKs have same API level.
I'll try to see if I can think of a proper fix. I think, as of now, we use the API level as the key to distinguish

[2015-09-30 17:44] jimrolland commented on #150
You can try Apwidgets, it's very similar to minim : https://code.google.com/p/apwidgets/

[2015-09-30 17:51] benfry opened #151 "installing Android Mode on a machine that's never run it throws SDK errors"
Complains that the Android SDK is not available and that the Mode will be all but disabled, but doesn't prompt user to do SDK installation.

[2015-09-30 18:19] omerjerk commented on #151
which OS ?

[2015-09-30 18:24] benfry commented on #151
OS X and Windows.

[2015-09-30 18:41] benfry commented on #151
Also puts up the error each time you start the PDE.

The initial error immediately after installing in the Contribution Manager:

![pastedgraphic-3](https://cloud.githubusercontent.com/assets/1623101/10202944/4c0e526a-6781-11e5-9158-5c255cc55637.png)

[2015-10-02 17:42] ciaron opened #152 ""Export Signed Package" throws an exception"
Exporting a simple sketch throws the following exception. Processing 3.0 (build 246), Android mode 3.0-beta2

[code]
The sketch (which runs fine in the emulator (Android 4.4.2, API level 19, ARM (armeabi-v7a))

    void setup() {
       size(480,800);

       smooth();
       noStroke();
       fill(255);
       rectMode(CENTER);     //This sets all rectangles to draw from the center point
    };

[2015-10-03 06:53] farzanajabin commented on #151
Hi, I am also having the same issue in OS X

[2015-10-04 00:07] codeanticode commented on #151
I can reproduce this issue (on OS X). After closing the "bad day" warning, and then switching to the Android mode in the PDE, the SDK selection window does show up, where one can choose between "Locate SDK path manually" and "Download SDK automatically". However, clicking on "Download SDK automatically" does not trigger the SDK download. This functionality used to work in a recent beta (probably 6

[2015-10-04 02:20] imartini commented on #152
Open the sketch permissions return a "similar error". It's possible that error occurs when a specific interface of the new processing 3.0 appears. That interface contains a deprecated variable to define de width of the text boxes, or check box, button or the dimension of the new window. I suppose that, because "sketch permission" and "Export signed package" open new window...

[code]

[2015-10-04 02:52] farzanajabin commented on #151
I manage to direct my processing towards the Android SDK File, by selecting the "Locate SDK path manually", as initially I could not view the Library directory to show. It does not prompt me the above erros as "bad day".  Yes! the "Download SDK automatically" does not trigger, although it shows that it completes the download. However, after all is complete, now processing shows an error of that "c

[2015-10-04 06:05] codeanticode commented on #150
closing, since there is nothing to fix in the mode itself.

[2015-10-04 06:05] #150 closed

[2015-10-04 06:40] codeanticode commented on #152
@imartini yes, you are right the beta2 of the mode was using outdated methods from Toolkit. Fixed with https://github.com/processing/processing-android/commit/a80791702cc59951222b8d9fef4102fbed807e0e

[2015-10-04 06:40] #152 closed

[2015-10-04 06:40] codeanticode commented on #151
Fixed with https://github.com/processing/processing-android/commit/a80791702cc59951222b8d9fef4102fbed807e0e

[2015-10-04 06:40] #151 closed

[2015-10-06 17:49] codeanticode commented on #148
Is there other information we can use to differentiate two different SDK's with the same API level? Anyhow, seems it can only happen exactly under these circumstances (an SDK and its pre-release both installed simultaneously in the same machine).

[2015-10-09 05:08] omerjerk commented on #148
I can differentiate on the basis of the Android version represented by a particular API. for e.g. 4.0.4, 4.4.2, M etc.

I'll send a pull request.

[2015-10-11 05:51] eddie-melcer opened #154 "get() and get(x, y, w, h) don't work in android mode"
get(x,y) works in android mode, but get() and get(x, y, w, h) don't.

EXAMPLES:
void setup(){ }

void draw(){
  PImage test = get(0, 0, 1, 1);
}

AND

void setup(){ }

void draw(){
  PImage test = get();
}

OUTPUT:
FATAL EXCEPTION: Animation Thread
Process: processing.test.gettest, PID: 27405
java.lang.NullPointerException: Attempt to invoke virtual method 'void android.graphics.Bitmap.getPixels(i

[2015-10-11 19:47] imartini opened #155 "Hide navigation bar?"
Hi!!

When I run the aplication, in the screen of the smartphone appears the navigation bar (return, home, settings buttons and black background). I modified the manifest.xml, use the sketch permissions, and other code with onCreate() functions, but nothing works.
there any way to hide the navigation bar?

Thanks!!

[2015-10-12 14:28] codeanticode opened #156 "Provide download for SDK in Android mode"
Moved from https://github.com/processing/processing/issues/3986:

If the user attempts to use Android mode and does not have the SDK, the popup should offer instructions on how to obtain and install the developer tools.

[2015-10-12 14:33] codeanticode commented on #156
@gingerdeadshot It this the popup you refer to:

![image](https://cloud.githubusercontent.com/assets/62246/10430325/8d08d0d4-70cc-11e5-919b-bf4c7574263f.png)

? It points users to the http://developer.android.com/sdk

[2015-10-12 14:51] codeanticode commented on #148
Tested with Android Android 5.1.1 and M (both 22) installed on my system, and your patch solves the issue. Thanks!

[2015-10-12 14:51] #148 closed

[2015-10-12 15:06] codeanticode commented on #155
Hi, this is a coding question that should be posted on the forum. The android developer site has [a page](https://developer.android.com/training/system-ui/navigation.html) on hiding the navigation bar.

[2015-10-12 15:06] #155 closed

[2015-10-12 15:27] gingerdeadshot commented on #156
Yes, except this popup does not appear for me. The popup that appears on my computer simply says "Android SDK could not be loaded - Android mode will be all but disabled."

[2015-10-12 15:38] codeanticode commented on #156
what version of the mode are you using?

[2015-10-12 17:48] gingerdeadshot commented on #156
The latest version available.
On Mon, Oct 12, 2015 at 11:38 AM codeanticode <notifications@github.com>
wrote:

[2015-10-13 15:42] codeanticode commented on #156
@omerjerk I noticed that often the "It's gonna to be a bad day" popup shows up several times when the SDK is not available:

![image](https://cloud.githubusercontent.com/assets/62246/10459812/549a277e-719f-11e5-9658-75d11d3e61ec.png)

and the SDK installation dialog does not consistently appear instead of it. Do you have some time to look at the startup logic of the mode, so we make sure that the

[2015-10-13 15:55] gingerdeadshot commented on #156
Yeah, that's the popup that comes up, the "it's gonna be a bad day" one.
On Tue, Oct 13, 2015 at 11:42 AM codeanticode <notifications@github.com>
wrote:

[2015-10-13 15:57] codeanticode commented on #156
ok, if you try to switch to the android mode from the PDE, after closing the "bad day" popup, you should get the SDK installation dialog. It does not work very consistently, but it should show up at some point. Anyways, we will try to fix the startup logic so it is not confusing.

[2015-10-13 15:58] gingerdeadshot commented on #156
Perfect. Thanks.
On Tue, Oct 13, 2015 at 11:57 AM codeanticode <notifications@github.com>
wrote:

[2015-10-13 20:28] kasperkamperman commented on #156
Same problem here. "It's gonna be a bad day". Switching to Android Mode worked to locate the SDK. However it might be smart to pop-up this SDK directly (or remove the "bad day" warning if you are not in Android mode).

[2015-10-14 14:00] codeanticode opened #157 "sketch does not run, gives INSTALL_PARSE_FAILED_MANIFEST_MALFORMED error"
Ported from https://github.com/processing/processing/issues/3995

[2015-10-15 09:52] Loadus commented on #107
createShape() works beautifully now in Processing 3.0. Thank you very much!

[2015-10-15 09:57] Loadus commented on #156
There is also a chance that the user gets stuck with a pop up saying "This version of Android Mode is not compatible with this version of Processing etc" and Processing won't start up - maybe fall back to Java mode if that error happens? [this might fall into a totally different issue category]

[2015-10-15 10:08] Loadus opened #158 "Building from command line fails"
I get an error about Java mode when I try to build from the command line. I use Sublime Text to build the .apk, and this might just be a configuration error on my end but posting this just in case. Note - this works with earlier versions (last one tested was 3.0a5, builds fine). I can almost fix this, but I'm not exactly sure on what's going on:

$ processing-android --sketch="/home/loadus/Dropbox

[2015-10-15 12:08] #107 closed

[2015-10-15 14:37] Loadus commented on #158
Running this in a clean installation of Processing, the problem persists. Adding JavaMode.jar and AndroidMode.jar to the classpath of processing-android throws this:

[code]

Also there's a very scary part in https://github.com/processing/processing-android/blob/master/src/processing/mode/android/Commander.java:185 a hardcoded location for the AndroidMode library (I have no idea if this has any ef

[2015-10-15 15:07] omerjerk commented on #156
I'll fix this asap.

[2015-10-15 15:20] codeanticode commented on #156
@omerjerk Thanks! I think we need to revise the logic of when the different popups are shown to the user.

For instance, right after installing the mode, it is very likely that the SDK is not available yet. Should we show the "bad day" popup right away, or ask for the SDK installation? I'd prefer the latter.

What @Loadus mentions is also a related issue, which I have experienced myself. If an inc

[2015-10-15 18:10] Loadus commented on #158
I did a test build where I changed

[code]
to
[code]

just to see if there was a change, but build ends with
[code]
which points to
[code]

Processing IDE itself builds the .apk with no problems and sends it off to the device. It's totally rolling with it.

[2015-10-15 19:10] Loadus commented on #158
Almost got it to build, the compile exited with two errors:
[code]

I had to add direct paths to various libs in processing-android (mainly because I don't know how to ask for Processing to provide the paths):
[code]

and I had to copy android-core.zip to /modes/android in Processing's folder.

And let me know if this is an issue no one cares about so I'll know when to stop. I'd really love to get

[2015-10-15 20:05] kasperkamperman commented on #156
@codeanticode I prefer the SDK installation warning or no message at all. It won't be nice if whole Processing (including all the other modes) will be blocked if just the Android mode doesn't work.

[2015-10-15 20:14] Loadus commented on #158
Ok, so here's the rundown:

processing-android build script

- Needs complete _sketchbookPath_/modes/ path
- Needs /modes/java/mode/*.jar
- Needs Android SDK's /platforms/android-_version_/ path (user can input this?)

Android Mode source:

- Assumes that it is in the AndroidMode folder
- getContentFile() defaults to _processing_install_/mode/android/ when called from the commandline build script.

[2015-10-16 09:23] Loadus commented on #158
I made a couple of pull requests for changes to allow commandline build working again. I'm not that happy about the absolute path mod, it's really dirty.

[2015-10-16 16:59] hudsonm4000 opened #159 "API clarification."
Wiki states that min API for 3.0 is 11and on the forum, some users are saying it's 17, but benfry has stated here on github that it is now 15. Which is correct?

[2015-10-16 17:01] hudsonm4000 commented on #159
... and is it a new 'must be installed' requirement as was the case for API 10 with 2.x?

[2015-10-16 18:01] omerjerk commented on #159
With the latest Android mode, the minimum API level required is API 15.
Please point me to the forums where people mentioned API 17 being minimum.
There could have been some other problem with the Android mode.

[2015-10-16 18:43] hudsonm4000 commented on #159
Here:
#http://forum.processing.org/two/discussion/12665/android-sdk-could-not-be-loaded#latest

and here(more by implication though)
http://forum.processing.org/two/discussion/13009/could-not-create-a-virtual-device-for-the-emulator#latest

I think we all just need someone who knows to tell us what is right!. My guess is "15" as that is from benfry here on github... and that is what I am using.. a

[2015-10-16 18:57] omerjerk commented on #158
You opened the pull requests in your repository.
Please open them here for us to merge.

[2015-10-16 20:19] Loadus commented on #158
Problem is, I'm not exactly sure how to do that. : D

[2015-10-17 09:14] hudsonm4000 commented on #159
@omerjerk ... just re-read your post... it is 15.

Perhaps this info could be added to the warning pop up that appears when the sdk is missing/not found, and/or  installing the android mode from within the Processing CM?

[2015-10-17 17:48] omerjerk commented on #156
I was looking at the logic and as far as I think, the "Locate SDK" dialogue should always come up instead of the "bad day" one. https://github.com/processing/processing-android/blob/master/src/processing/mode/android/AndroidMode.java#L140
The possible reason could be that `parent` in the above mentioned code is null.

Unfortunately, I'm not able to build Processing from eclipse and unable to see t

[2015-10-18 07:50] amirc2013 opened #165 "Cant get Activity or Context"
why ?
I looked in the internet and this option was enable before...

thanks

[2015-10-18 15:16] codeanticode commented on #165
You can use the getActivity() function to get the activity, see https://github.com/processing/processing-android/issues/142.

[2015-10-18 15:16] #165 closed

[2015-10-18 22:19] trapperhoney opened #166 "exception with processing.video.Movie"
I haven't been able to get the Movie class from the Processing video library to work at all on android.  The exception is easy to reproduce by simply running the example Loop sketch that comes with the library in libraries/video/examples/Movie/Loop.

My guess is that this has something to do with a bug in the file name parsing code of the Movie class, but I'm not really even sure what a file name

[2015-10-19 06:58] omerjerk commented on #166
Processing video cannot run on Android.
For that, we have a separate library.
Have a look - https://github.com/omerjerk/processing-video-android

[2015-10-19 15:50] amirc2013 opened #167 "Writing to the androidManifest ..."
Error: No resource found that matches the given name (at 'value' with value '@integer/google_play_services_version').

what can i do ?
how should i write it ?

[2015-10-19 15:52] amirc2013 commented on #167
I will be more specific, Im trying to add ads to my app.
for some reason the manifest is not working like the "normal" manifest and i get the error above

[2015-10-19 17:27] #166 closed

[2015-10-20 00:08] trapperhoney commented on #166
Thank you! Works for me

[2015-10-20 10:49] #167 closed

[2015-10-20 10:50] amirc2013 opened #168 "Cant export singed apk"
It just stuck on : "  release: "
and : "Exporting singed package... "

why ? what can i do ?

[2015-10-20 10:51] amirc2013 commented on #168
My console :

-post-compile:

-obfuscate:

-dex:
input: C:\Users\amir\AppData\Local\Temp\android4412688300261270642sketch\bin\classes
input: C:\Users\amir\AppData\Local\Temp\android4412688300261270642sketch\libs\google-play-services.jar
input: C:\Users\amir\AppData\Local\Temp\android4412688300261270642sketch\libs\processing-core.jar
Pre-Dexing C:\Users\amir\AppData\Local\Temp\android44126883002612

[2015-10-20 14:37] codeanticode commented on #168
What version of Processing and the mode are you using? Did you install the Android SDK through Processing or manually by your own?

[2015-10-21 03:21] amirc2013 commented on #168
i fixed the problem, there was a missing jar file. thanks

[2015-10-21 03:21] #168 closed

[2015-10-21 03:22] amirc2013 opened #169 "How can I add Application class ?"
I want to make an Application (extend android's application) and add this to my project.
the question is how can i add an "outsider" java file ?
and how can i import this outsider ?
thank you

[2015-10-21 15:42] omerjerk commented on #169
I'm afraid you cannot do this right from PDE.
You'll need to use Android Studio and use core.jar form Processing.
Useful link - https://github.com/processing/processing-android/wiki/Using-Eclipse-or-Android-Studio-for-Development

[2015-10-21 18:39] #141 closed

[2015-10-22 03:39] codeanticode commented on #156
fixed after merging Umair's PR. Tested on Mac OS X 10.10 and Processing 3.0

[2015-10-22 06:04] codeanticode commented on #154
Fixed with https://github.com/processing/processing-android/commit/907a9f1d0ef28fe4832cfd81bd60de5ab4c6d5ce

[2015-10-22 06:04] #154 closed

[2015-10-22 06:19] codeanticode commented on #158
I merged https://github.com/processing/processing-android/pull/161, which seemed reasonable. The other two (https://github.com/processing/processing-android/pull/160, https://github.com/processing/processing-android/pull/162) need more discussion.

[2015-10-22 06:33] codeanticode commented on #159
The SDK installation dialog now indicates to install API 15 or higher: https://github.com/processing/processing-android/commit/11f068566c88a0680b2c231dd43ab9f9a7b86f92

[2015-10-22 06:33] #159 closed

[2015-10-22 07:13] shlomihod commented on #169
I think you can create *code* folder in your sketch folder and then add your external jar files.

[2015-10-22 09:35] shlomihod commented on #150
I wrote a library for that based on omerjerk work:
https://github.com/shlomihod/cassette

[2015-10-22 15:34] codeanticode opened #171 "Error checker says that getActivity() function does not exist"
@omerjerk @Manindra29 this is still happening with the latest revision of Processing and the mode. Do you guys think there is a simple solution?

[2015-10-25 16:32] codeanticode opened #172 "Can't find android SDK message after installation"
Ported from https://github.com/processing/processing/issues/4063

[2015-10-25 16:37] codeanticode commented on #172
@kinjo27

Do you see this message dialog after installing the android mode:

https://github.com/processing/processing-android/issues/156#issuecomment-147414413

If you do, all you have to do is to choose the "Locate SDK path manually" option and look for the folder containing your copy of the SDK.

If you don't see it, don't worry. The installation logic in the latest version of the mode is somewh

[2015-10-25 16:37] #172 closed

[2015-10-25 16:40] kingjo47 commented on #172
Thanks! it works.

[2015-10-25 16:57] codeanticode commented on #172
cool!

[2015-10-28 12:29] codeanticode opened #173 "Mode out of Date issue after downloading latest version"
Ported from https://github.com/processing/processing/issues/4075

[2015-10-28 12:31] codeanticode commented on #173
@HeroLabsAndroid please note that the last version of the mode that works with Processing 2.2.1 is not compatible with Processing 3.x. You should use the latest release, which you can install through the Contribution Manager.

[2015-10-28 12:31] #173 closed

[2015-10-28 13:18] HeroLabsAndroid commented on #173
No the problem is i don't even use android mode
Am 28.10.2015 13:31 schrieb "codeanticode" <notifications@github.com>:

[2015-10-28 13:45] codeanticode commented on #173
you should be able to remove it also using the Contribution Manager in 3.x. Or manually in 2.x (go to your sketchbook folder, and then delete modes/AndroidMode).

[2015-10-31 23:12] Manindra29 commented on #171
The sdk was not being initialised when getSearchPath() is called. So maybe that was causing the bug? When you start up Android Mode for the first time, a NPE occurs in getSearchPath() (stack trace visible in std.err).

I can test the fix further if you can share a piece of sample code to reproduce this error.

Please take a look at my PR too.

[2015-11-01 01:32] codeanticode commented on #171
Hi Manindra, thanks for the PR. I will check if it fixes the issue.

[2015-11-01 02:00] codeanticode commented on #171
No, the getActivity() method is still marked as not recognized after applying your PR:

![image](https://cloud.githubusercontent.com/assets/62246/10866855/adf188ce-801a-11e5-8af2-f4a2d6631f78.png)

[2015-11-01 02:17] Manindra29 commented on #171
I looked at this again, and it reveals a much bigger issue. So ErrorCheckerService (ECS) was designed originally for just JavaMode. Java sketches are wrapped with:
class <name> extend PApplet {
... user code...

..main method..
}

For Android Mode, this is done completely differently. The parent class needs to extend Activity class to have getActivity() available. I saw some of this template code

[2015-11-01 04:19] omerjerk commented on #171
@Manindra29
`getActivity()` method is available in `Fragment` class which is what our sketch class extends.

[2015-11-01 07:02] Manindra29 commented on #171
I see. Can you share what the generated source files look like for a basic android sketch after they've been converted to .java files for an android sketch so that I can get the complete picture?

[2015-11-01 13:45] codeanticode commented on #171
This is what I get when I export the sketch above as Android project:

* MainActivity.java
[code]

* getactivity_171.java
[code]

[2015-11-01 14:46] codeanticode opened #175 "Sensor examples are broken"
Accelerometer and Compass were not updated to reflect the Fragment changes in the API

[2015-11-01 14:50] codeanticode commented on #175
Fixed with https://github.com/processing/processing-android/commit/fdf4955e3349f8967ecd6da87efe9fa22745168d

[2015-11-01 14:50] #175 closed

[2015-11-01 15:56] codeanticode commented on #156
@omerjerk actually, there are some instances where the "bad day" message still show up after the fix. For example, quit the PDE when using the Android mode, delete the SDK inside the mode folder, and run the PDE. Then the install SDK dialog shows up, but on top of it the "bad day" popup, which you need to dismiss twice to get to install the SDK again.

I also noticed that if you close the install

[2015-11-01 15:59] codeanticode opened #176 "the android binaries are not uncompressed as executable"
On some OS X systems, the android binaries in the platform-tools and tools folders are not marked as executable after automatic downloading and unpacking, including the adb and android tools. This renders the mode unusable.

[2015-11-01 16:01] codeanticode commented on #176
Fixed with https://github.com/processing/processing-android/commit/bf246daff7cfb878fbc536c9384f729ce2d2f061

[2015-11-01 16:01] #176 closed

[2015-11-02 13:35] omerjerk commented on #171
@Manindra29
In the above code, `PApplet` extends `Fragment`.

[2015-11-26 21:39] Degeerdoethetweer opened #177 ".PDF and .NET libraries in Android mode"
I'm trying to run a program, originally made in java mode, in android mode.
Both the .net and .pdf libraries don't seem to be working and give the following error when compiling:

ERROR in C:\Users\AppData\Local\Temp\android7291393924322010817sketch\src\processing\test\neurosky_app_v7\Neurosky_app_v7.java (at line 8) import processing.net.*; ^^^^^^^^^^^^^^ The import processing.net cannot be resol

[2015-11-27 15:20] Degeerdoethetweer commented on #177
Update:
When incorporating the Client.src java file and removing the package line the compilation to Android seems to be working; no more errors and warnings. For me this might be a solution because I am only using the client class.

Although the app now compiles and runs it does not connect with the Bleutooth headset. Any advice is still very welcome,

[2015-12-03 16:29] toniholzer opened #178 "Please eliminate unnecessary Android mode import warnings!"
Warnings and errors are displayed with red lighted text color.
If there are not only warnings, error messages must be picked out cumbersome.
So is it possible to eliminate unnecessary 11 warning that came every time when testing an android app?  Pleeeease ;-)

[2015-12-05 11:17] dorinclisu opened #179 "Can't find connected device, can't run in emulator"
When loading Android mode I get this:

<pre>
Exception in thread "Thread-45" java.lang.NullPointerException
    at processing.mode.android.AndroidBuild.setSdkTarget(AndroidBuild.java:76)
    at processing.mode.android.AndroidEditor.updateSdkMenu(AndroidEditor.java:347)
    at processing.mode.android.AndroidEditor.access$300(AndroidEditor.java:50)
    at processing.mode.android.AndroidEditor$7.run(

[2015-12-05 17:50] omerjerk commented on #179
I was looking at the code and could not figure out when this exception should occur at all.
Are you doing something special to reproduce this ?
Can you please tell which Android SDKs are available on your machine right now ?

[2015-12-06 03:59] omerjerk commented on #171
I'm wondering, even back when our sketch class used to extend `Activity` class, we never got warnings related to the `Activity` specific methods. Did we ?
If not, why is this happening only now ?

[2015-12-06 22:35] dorinclisu commented on #179
How do I figure that out exactly? I just downloaded the SDK manager and then installed the packages that are supposed to be installed.

[2015-12-07 08:54] toniholzer commented on #157
Think this issue can be closed now. It's working fine with processing v3.0.1.  (Android 3.0 beta 4)
There are no more error messages and permissions are set as expected.
Thank you...
ps. 'Android.xml' file would be much more readable if you add some linefeeds for separate text lines!!!

[2015-12-08 15:14] Degeerdoethetweer commented on #177
Finally we opted for a windows surface so we can run normal processing.

[2015-12-08 15:14] #177 closed

[2015-12-08 16:20] codeanticode opened #181 "Processing 3.0.1 could not detect android sdk 2.2.1"
Ported from https://github.com/processing/processing/issues/4193

[2015-12-08 16:23] codeanticode commented on #119
@omerjerk do we need to do anything else to close this issue?

[2015-12-08 16:23] codeanticode commented on #181
@schadaram453 Minimum SDK requirement is 4.0.4, see https://github.com/processing/processing-android/issues/119

[2015-12-08 16:23] #181 closed

[2015-12-08 16:26] codeanticode commented on #179
@omerjerk Just merged you PR https://github.com/processing/processing-android/pull/180 that should fix this, will push a new release soon.

[2015-12-08 16:40] codeanticode commented on #171
I cannot recall, as many changes happened in the syntax checker between we switched from Activity over to Fragment. I'm not even sure if the syntax checker was actually working at all before the Fragment switch.

In any case, the issue is happening, so we need to fix it :-)

[2015-12-08 17:33] omerjerk commented on #179
@dorinclisu
As far as the normal behavior of Processing is concerned, it should pop up a dialog box asking you to automatically download the Android SDK. I'm assuming that that somehow didn't happen with you and probably that's why you were facing this crash (still pretty strange).
I think in your PC, Android sdk is present but corrupted or something else the pop up would have showed up.

I'd sugg

[2015-12-08 19:16] omerjerk commented on #171
Going to fix this issue once and for all now.
Working on it.

[2015-12-09 13:33] dorinclisu commented on #179
It did pop up a dialog box in the beginning and I gave it the path to the Android SDK that I previously downloaded. I manually installed the packages with the SDK manager.
But I find this pretty confusing and I think the root of many problems is that there is more than one way to install all this stuff.  For example I have no such file as AndroidEditor.java on my computer.

[2015-12-10 14:15] omerjerk commented on #179
The last error you mentioned comes when there is not SDK installed. We keep 15 as the default value, so it's trying to look for api 15.
So, are you sure you correctly downloaded the SDK ? Can you send a screenshot of your sdk manager focusing the sdk you downloaded ?

From where did this AndroidEditor.java come in to play ? :o

[2015-12-10 16:00] dorinclisu commented on #179
Well, I only had API 10 installed because that is what the instructions say  <url>https://github.com/processing/processing-android/wiki#Instructions</url>. I installed API 15 and the errors are gone, however it still says "No connected devices" and when trying to run in emulator it gives:
<pre>debug:
Emulator process exited with status 1.
EmulatorController: Emulator never booted. NOT_RUNNING
Erro

[2015-12-17 09:50] dodola opened #182 "performance"
some code render ,frame count too low

[2015-12-17 21:13] codeanticode commented on #182
What is the code that gives you low framecount? Lots of factors could be affecting the performance of your sketch.

[2015-12-18 10:09] dodola commented on #182
@codeanticode example code /Demos/Performance/CubicGridImmediate 。 The Java Version run on mac the fps is 11,on Android  Device(MI 3) the fps is 5

[2015-12-18 16:52] WladimirDLC opened #183 "Transparent background"
I am working with an augmented reality app, I would like to overlay processing graphics over the camera captures, however the processing graphs have always a gray background always. I need to have it transparent in order to see only the objects rendered by processing. Is there anyway to do it? how should I modify the surface for that purpose. I have tried to put a .png image with transparency as i

[2015-12-18 17:24] ajavamind commented on #182
FYI, My Window 7 pro Intel i7 runs the CubicGridImmediate java code averaging 19 fps, Sony Z1s .66 fps, and Samsung S6,  range from 19 to 29 fps - slowing down the longer it runs.

[2015-12-18 18:43] codeanticode commented on #182
Hi there, the CubicGridImmediate example is inherently slow, even on desktop, and its main purpose is to demonstrate the advantages of using retained mode (i.e.: PShape) when rendering large geometries. How many fps do you get with /Demos/Performance/CubicGridRetained?

[2015-12-18 20:29] ajavamind commented on #182
You piqued my interest. For CubicGridRetained
Windows 7 pro Intel i7 3.5 GHz: 35 fps average
Sony Z1S          59 fps average
Samsung S6     60 fps solid no variance
60 fps is the frame per second setting for the test, so I changed it to 120 with frameRate(120),
but the debug output still shows a solid 60 fps, implying frameRate() has no effect?

[2015-12-18 20:34] ajavamind commented on #182
Forgot to mention I am using Processing-Android mode 3.0-beta4 for the CubicGridRetained test

[2015-12-21 02:25] dodola commented on #182
@codeanticode  CubicGridRetained on my phone  fps: 60.0 ,I think I know the reason ,thanks

[2015-12-21 02:52] dodola commented on #182
@ajavamind we call the frameRate method only control the draw sleep time, the real framerate is calculate by draw method

[code]

[2015-12-29 12:51] omerjerk commented on #171
@Manindra29
Whenever I type the following code, I don't get the `getActivity()` related error.
[code]
But when `getActivity()` is put inside the setup method, the error appears. Note that `PApplet` itself extends `Fragment` class.
[code]

[2015-12-29 13:02] omerjerk commented on #171
Wait, I think I've figured out the issue. :P

[2015-12-30 05:43] omerjerk commented on #171
@benfry
The error, as far as I think, is that the PDE loads the java one core.jar and not the android one. That's why only methods specific to Android mode's PApplet get underlined.
So, I looked into ErrorCheckerService.java and did extensive debugging but couldn't find a place where the core.jar is explicitly being added to the compiler classpath.
Probably, it is inheriting core.jar from Java mod

[2015-12-30 07:34] Manindra29 commented on #171
Both P5 core's PApplet and android core's PApplet have the same class names: processing.core.PApplet.
Since P5's PApplet is present in P5's classpath, that's the class detected by the ErrorChecker compiler (since it appears first in the classpath). But we want it to find the second PApplet class (android core.jar's PApplet) in the classpath. Not sure how we can accomplish that..

[2016-01-01 17:33] warpwe opened #184 "java.lang.NoSuchMethodError: org.apache.http.util.EntityUtils.consume"
Code works fine in JAVA mode. Switching to Android and running on Android device gives the following exception. Verifying org.apache.http.util.EntityUtils.consume shows the method exists.

debug:
httpget:http://www.wetter.com/wetter_aktuell/aktuelles_wetter/deutschland/barsinghausen/bantorf/DE0000815002.html
http://www.wetter.com/wetter_aktuell/aktuelles_wetter/deutschland/barsinghausen/bantorf/DE

[2016-01-01 17:41] warpwe commented on #184
Android device runs on 4.4.2. Error persists with SDK 4.4.2 and 6.0.

[2016-01-01 18:40] prempalsingh commented on #184
Android uses an older version of apache libs than the one that JAVA SDK uses. In 6.0, the HttpClient library was completely removed (http://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-apache-http-client). You should use HttpUrlConnection instead to make a GET request.

[2016-01-01 19:44] mkodekar commented on #184
use volley

[2016-01-01 19:48] mkodekar commented on #184
first see this convert html to json and from the output see if how the json comes out to be.
see herr how to convert html to json:-
http://stackoverflow.com/questions/23062537/how-to-convert-html-to-json-using-php

[2016-01-04 19:23] codeanticode commented on #182
Does performance continue to be a problem? Is it ok to close this issue?

[2016-01-04 19:53] codeanticode opened #185 "Android SDK imports generate errors in the console"
This sketch:

[code]

gives the following errors:

![image](https://cloud.githubusercontent.com/assets/62246/12098853/c2c141c6-b2f2-11e5-8329-c9852759a867.png)

The sketch compiles and runs ok though. Tested with Processing 3.0.1, Android mode 3.0-beta4

[2016-01-05 01:43] dodola commented on #182
@codeanticode ok

[2016-01-05 02:37] #182 closed

[2016-01-06 07:55] omerjerk commented on #171
So, as suggested, I wrote a custom class loader and printed the classes which JDT compiler loads using the class loader. Here's the output :
[code]
Another problem is that even if I don't load the `processing.core` classes inside my class loader, PDE still works perfectly fine with PApplet functions.

[2016-01-06 15:46] codeanticode commented on #171
Where is the code of your custom class loader?

Did you try using overriding the default parent loader with this [other constructor](https://docs.oracle.com/javase/7/docs/api/java/net/URLClassLoader.html#URLClassLoader(java.net.URL[],%20java.lang.ClassLoader)) of URLClassLoader?

[2016-01-07 12:03] omerjerk commented on #171
This is the ClassLoader which I used :
[code]
The code looks hacky but it is supposed to work.

[2016-01-11 13:53] codeanticode commented on #178
Thanks for the report. I filed this issue with further details [here](https://github.com/processing/processing-android/issues/185). Closing this one as a duplicate.

[2016-01-11 13:53] #178 closed

[2016-01-25 22:23] codeanticode opened #186 "mousePressed() not working well"
Ported from https://github.com/processing/processing/issues/4246

[2016-01-26 08:11] 94Conti commented on #38
Hi, I am doing an App in Processing for Android. Is someone using Android 4.1+ with Processing and working fine? This was 2 years ago, I can't believe this still doesn't work...

[2016-01-26 12:18] 94Conti commented on #186
Thanks for porting my post to the correct place. Is Android Mode correctly working for anyone with Android 4.1+?

[2016-01-26 20:28] codeanticode commented on #186
Sure, no problem.

I have been using the mode on 4.1+ and 5.x devices.

[2016-01-26 21:05] 94Conti commented on #186
I have installed the drivers, and try it with both Samsung Galaxy S3 Neo and Samsung Galaxy Tab 3... do you know what can I have done wrong? It's everything working, just that failing... maybe I forgot to install something? Thanks!

[2016-01-27 11:09] Manindra29 commented on #185
I can see that the following imports are from android sdk:
[code]
But are the following also from the android sdk or some other library?
[code]

[2016-01-29 09:29] barefists commented on #21
Leaving a note here, hoping this issue will be fixed soon. :)

[2016-02-03 22:56] erkosone commented on #89
i have the same problem,
If i use textFont() with any PGraphics object i wipe the alpha channel from all images.

I think it's the same thing happens to you, you used textFont ()? I have not reported this error .. if you're using can try to not use it can say that this will work?

[2016-02-04 14:27] CyrusSUEN opened #188 "Cannot load txt file with the library's Jar file"
I've created a simple [Processing library example](https://github.com/CyrusSUEN/processing-library-template/blob/master/src/template/library/HelloLibrary.java#L60-L61) that can load and display the content of a text file.

This is the structure of the Jar file:
![capture1](https://cloud.githubusercontent.com/assets/2461812/12817673/3ee8fbf0-cb8e-11e5-9e30-32a1f1c04d5b.PNG)

Result on Windows:
![ca

[2016-02-04 16:26] ekeneijeoma opened #189 "loadJSONObject and loadJSONArray are missing"
I see that the JSONObject and JSONArray classes are there but loadJSONObject and loadJSONArray aren't accessible. In the meantime I'm just doing this

[code]

[2016-02-05 08:32] suheb commented on #186
@94Conti The problem is with the code given in the example. When you click on the rectangle or circle, `mousePressed()` is called before `update()` inside `draw()` could be called. So both `circleOver` and `rectOver` are `false` and `currentColor` does not get updated.
This could easily be solved if you call `update()` inside `mousePressed()` to set the variables before their value is checked.
Hop

[2016-02-09 06:59] ekeneijeoma opened #191 "println(variables) missing/not supported"
support for println(variables) is missing. https://processing.org/reference/println_.html

[2016-02-15 19:25] suheb commented on #189
Fix #190

[2016-02-20 00:13] ekeneijeoma opened #193 "accessing PGraphicsAndroid2D canvas for WallpaperService.Engine"
I'm trying to create a live wallpaper and after some trial and error I think the best way would be to have a setter for canvas in PGraphicsAndroid2D so I can draw to the Engine canvas. Could we add a setCanvas(Canvas c..) method to PGraphicsAndroid2D?

[2016-02-23 08:46] dodola opened #194 "black screen when use noLoop() in P3D mode"
when setting P3D mode and set noLoop() in setup() ,the screen is black
![device-2016-02-23-164448](https://cloud.githubusercontent.com/assets/1026848/13246189/fbfb3fe2-da4c-11e5-97ba-2ce520a15feb.png)

[code]

[2016-02-23 08:47] dodola commented on #194
P2D mode is ok

[2016-02-23 12:06] dodola commented on #194
I found a solution

[code]
The reason is GLThread and MainThread conflict

[2016-02-26 17:48] ZachSundberg commented on #89
Same problem when using textFont()
I will report.

[2016-02-26 17:53] ZachSundberg opened #196 "textFont() wipes out alpha"
Processing 3.01
Any call to textFont() causes all curent and future objects to lose their alpha.

[2016-02-27 09:11] erkosone opened #197 "Texture glitxhes in PShape."
Hi,  i have texture glitches only in android mode when texture size are no standard texture size.

[2016-02-29 17:08] erkosone commented on #196
I have the same problem.
In Android mode can´t use text() with PFont correctly, the alpha channel of any image are corrupted.

[2016-02-29 21:08] codeanticode commented on #197
Do you mean a not-power-of-two (NPOT) texture? What version of Processing and the mode are you using? What renderer?

[2016-02-29 21:09] codeanticode commented on #196
@ZachSundberg what renderer are you using?

[2016-02-29 21:11] codeanticode commented on #194
Thanks for reporting. It is in fact a duplicate of https://github.com/processing/processing-android/issues/147

[2016-02-29 21:11] #194 closed

[2016-02-29 21:12] codeanticode commented on #191
Need to port the new println() function from Java's PApplet, thanks for noting it.

[2016-02-29 21:15] codeanticode commented on #189
merged fix from @suheb

[2016-02-29 21:15] #189 closed

[2016-02-29 21:24] codeanticode commented on #191
fixed with https://github.com/processing/processing-android/commit/f93b0f49e701ccb049113eb29ffef947a42caf2e

[2016-02-29 21:24] #191 closed

[2016-02-29 23:57] ZachSundberg commented on #196
P2D & P3D produces the error.  JAVA2D does not.

[2016-03-03 06:08] #185 closed

[2016-03-03 06:08] #171 closed

[2016-03-03 06:09] #169 closed

[2016-03-03 06:49] codeanticode commented on #196
this code generates the same (correct) output with JAVA2D and P2D/P3D:

[code]

Does it work for you? Can you post some code that highlights the issue?

[2016-03-03 15:40] ZachSundberg commented on #196
Your code works fine.  The problem seems to arise when after using loadFont with a font created using the create font tool.  This code demonstrates how the error occurs only after a call to textFont.

`int delay = 5000;
PFont fontA;

void setup()
{
  orientation(PORTRAIT);
  size(displayWidth, displayHeight, P2D);
  fontA = loadFont("ArialMT-48.vlw"); //replace with any font created using create f

[2016-03-03 15:57] codeanticode commented on #196
I can reproduce it now using your code. Looking into it, thanks!

[2016-03-03 22:57] #196 closed

[2016-03-04 09:25] Manindra29 commented on #185
I build the latest android-master and I still get the same error messages. Has this been fixed? Or I am doing something wrong?

[2016-03-04 13:42] codeanticode commented on #185
Sorry, that code is using an external library that I added to the sketch. Try something that does only depend on SDK packages, such as:

[code]

[2016-03-04 15:50] erkosone commented on #89
any solution for this bug?

[2016-03-04 20:00] codeanticode commented on #89
@erkosone @ZachSundberg the font-related issue appears to be a duplicate of https://github.com/processing/processing-android/issues/196, which I fixed recently.

@jwindberg I'm trying to reproduce your original issue with the following code:

[code]

and these two images:

![dotg](https://cloud.githubusercontent.com/assets/62246/13538618/b1f1c6b2-e219-11e5-898f-14167b13838a.png)
![dotr](https://cl

[2016-03-05 08:44] erkosone commented on #89
This example works well, but in my programs are going wrong, I'm working to reproduce the error with the minimum code, I share when I get ready. thank you.

[2016-03-05 08:48] erkosone commented on #89
I have, this is the code that reproduces the error:

[code]

[2016-03-05 08:50] erkosone commented on #89
The problem is that you can not use the default render android because it is extremely slow and to make any necessary game graphics acceleration of P2D P3D.

I'm looking forward the settlement of this problem;)

[2016-03-05 13:08] ZachSundberg commented on #89
Looks like this issue has been resolved here:
https://github.com/processing/processing-android/issues/196

[2016-03-05 16:50] erkosone commented on #89
Perfect! it seems that this has been resolved, it's great.
As I can update my android mode to enjoy this improvement?
you have to wait for a new release? or you can download some way at this time?
Thanks for the info ;)

[2016-03-05 18:29] erkosone commented on #196
any way to download version with this correction?
Thanks in advance.

[2016-03-05 18:36] wit221 opened #199 "Corrupted font rendering in P3D/OPENGL"
I have posted about the issue in the forum but did not receive any response.
Here are some previews of the issue received from different people:

http://imgur.com/a/3PQP8
http://imgur.com/a/eL6eM
http://imgur.com/3lrVQ1l
https://imgur.com/a/8iVjy
http://imgur.com/5NN6rNm

The way I implement text rendering is the following:

[code]
where 8*displayWidth/100 is the maximum font size in the applicati

[2016-03-05 19:00] #119 closed

[2016-03-05 19:01] codeanticode commented on #92
No confirmation from original poster, cannot reproduce

[2016-03-05 19:06] codeanticode commented on #196
Try the [latest release](https://github.com/processing/processing-android/releases/tag/latest), RC1, and let me know if you still see this problem, or any other issues (please report separately). Thanks!

[2016-03-05 19:10] codeanticode commented on #199
Does this happen only with the largest font size, 8*displayWidth/100, or with smaller sizes too?

I just pushed a new release of the mode, [RC1](https://github.com/processing/processing-android/releases/tag/latest), can you take check if this problem still happens in this release?

[2016-03-05 19:34] erkosone commented on #196
This release works perfectly!!!! I LOVE YOU!!

[2016-03-05 19:35] ZachSundberg commented on #196
RC1 Fix confirmed on my end.
Thanks for all your hard work.

[2016-03-05 21:39] codeanticode commented on #196
Glad to know that the problem is solved. Thanks for testing!

[2016-03-05 21:40] codeanticode commented on #89
Use the [RC1 release](https://github.com/processing/processing-android/releases/tag/latest) of the mode.

[2016-03-05 21:40] #89 closed

[2016-03-12 17:24] erkosone commented on #197
Hi, sorry for delay..

This code example produces the bug, works fine on windows/mac but not in Android:

[code]

My texture resolution is: 350x350 pixel.

[2016-03-14 21:41] codeanticode commented on #199
@wit221 Did you have a chance to see if this still happens in RC1? Thanks!

[2016-03-14 21:52] codeanticode commented on #197
Hi, I'm testing on a N5X and don't see any glitches. However, if your device does not support non-power-of-two-textures (NPOT), then the repeat wrapping mode mode will likely result in corrupted output, because the textures are internally extended by the renderer to the next power-of-two width/height, which in your case case would be 512. What happens if your texture is 256x256?

[2016-03-15 00:43] #193 closed

[2016-03-15 06:43] erkosone commented on #197
Ok, sorry had read something about the compatibility of textures not a power of 2 and thought it was a bug, but it turns out to 256x256 if it works well.
It was a mine to misunderstand the issue of textures error.
In power of two everything it works fine.

[2016-03-15 14:33] codeanticode commented on #197
Quick question: what device are you using?

[2016-03-15 14:52] codeanticode commented on #197
Actually, could you run this sketch:

[code]

and report back the output in the console? Thanks!

[2016-03-31 12:18] rich-gg opened #201 "Fatal signal 11 (SIGSEGV)"
Hi

I use Processing in Android Studio the way it is explained [here](https://github.com/processing/processing-android/wiki/Using-Eclipse-or-Android-Studio-for-Development).

When I use
[code]
I often crash and get something like that
A/libc: Fatal signal 11 (SIGSEGV), code 2, fault addr 0xa0d03000 in tid 10098 (GLThread 60135)

the thing is:
- When I make a brand new project using fullScreen(P2D)

[2016-03-31 14:33] omerjerk commented on #201
Hi,
Which device are you testing your code on ?

[2016-03-31 15:05] rich-gg commented on #201
NVidia Shield K1, Marshmallow

[2016-04-01 03:10] sooonism opened #202 "'Locate SDK path manually' and 'Download SDK automatically' not working"
It crash my `processing` every time I launch `Android` mode. it will should 2 alerts: 'Locate SDK path manually' and 'Download SDK automatically' panel then `The Android SDK could not be loaded` panel (It blinks, so I believe it launch multiple times).
I click on `OK` so that I can either click  'Locate SDK path manually' and 'Download SDK automatically'. But not of them have any effect. I cannot

[2016-04-01 08:26] rich-gg commented on #201
If I had, in setup, this test code that I got from Processing sample skteches
        PGraphicsOpenGL pg = (PGraphicsOpenGL)g;
        println(PGraphicsOpenGL.OPENGL_VENDOR);
        println(PGraphicsOpenGL.OPENGL_RENDERER);
        println(PGraphicsOpenGL.OPENGL_VERSION);
        println(PGraphicsOpenGL.GLSL_VERSION);
        println(PGraphicsOpenGL.OPENGL_EXTENSIONS);

 First I get the crash: A/

[2016-04-01 11:57] rich-gg opened #203 "Rendering Slower in OpenGL (P2D/P3D) than default"
Hello

I keep testing my little app with default, P2D, P3D and OPENGL rendering and it runs better in default than OpenGL.

My machine is a ShieldK1 with Marshmallow
 NVIDIA Corporation
 System.out: NVIDIA Tegra
 OpenGL ES 3.2 NVIDIA 361.00
 OpenGL ES GLSL ES 3.20

I rotate, on screen, 180 instances of a Circle Class rendering 1 plain ellipse(),
 - Default renderer : 30 FPS
 - OPENGL  / P2D / P3D

[2016-04-01 16:28] codeanticode commented on #203
Does the fps drop happens only with P2D or also with P3D?

[2016-04-01 19:19] rich-gg commented on #203
it doest behave the same, I mean "as bad", in OPENGL, P2D,  P3D

[2016-04-02 11:05] evshellshear commented on #199
Hi codeanticode,

I think I have this issue too. I have tested RC1 and it did not help. You can test the game BugRope at https://play.google.com/store/apps/details?id=processing.test.bugrope&hl=en. I have a Nexus 5x Android 6.0.1 and in the beginning it seemed to cause a problem but the problem is now gone. However, someone who downloaded my game on a LG g4, h811, running rooted but stock 5.1, BUT

[2016-04-05 00:10] codeanticode commented on #199
Ok, at least I can reproduce it (on a N5X), not yet sure about the cause though. My guess is that it is related to the [logic that creates the textures needed to store the font's glyphs](https://github.com/processing/processing-android/blob/master/core/src/processing/opengl/FontTexture.java#L88).

[2016-04-05 00:46] evshellshear commented on #199
Awesome. At least you can reproduce it. I can't on my Nexus 5 anymore. It
used to happen but not anymore. I used to think it was a memory issue but I
doubt that nowadays.

Thanks!

Cheers,
Evan
On Apr 5, 2016 10:10 AM, "codeanticode" <notifications@github.com> wrote:

[2016-04-05 02:28] codeanticode commented on #203
Could you post a minimal sketch that shows the FPS drop?

[2016-04-05 02:31] codeanticode commented on #202
Have you had the chance to try the SDK locate/download functionality on a different version of OS X? I have been using 10.10 and didn't see any of these errors, so I wonder if might be related to 10.11. Thanks!

[2016-04-05 04:25] evshellshear commented on #199
@codeanticode thanks for that. Let me know when there is an update to the Android mode and I'll rebuild my game with it, post it on Google Play and get people to test it. Otherwise I can just send you the apk if you want.

Thanks for your help!

[2016-04-05 05:06] codeanticode commented on #199
Try RC2 https://github.com/processing/processing-android/releases/tag/latest

However, font rendering issues might not be completely fixed. I noticed that some characters (backslash and k) are missing in the output of the following sketch:

[code]

but this could have a different cause. Can you check if you see the same missing characters?

[2016-04-05 05:11] evshellshear commented on #199
Awesome. Thanks for that. I don't actually see the issue on my phone so
I'll build an apk and send it to you if that's OK.

How do I actually install this RC2 to processing? Do I just need to unpack
it into the Processing directory and copy over the Android Mode folder?

Thanks again!

Cheers,
Evan

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_conten

[2016-04-05 08:46] rich-gg commented on #203
Hi

here is a first piece of code that shows a problem

[code]
running it on processing on my PC, I get the same FPS with or without P2D
on my android (using android studio and my Nvidia Shield K1) I get :
- default render : 58-59 FPS
- P2D render : 48-52 FPS

[2016-04-05 09:04] rich-gg commented on #203
here is the seconde piece of code that shows a problem, frame rate is lower in P2D that Default
[code]
running it on processing on my PC, I get 40 FPS with default renderder and 60 with P2D
on my android (using android studio and my Nvidia Shield K1) I get :

default render : 24 FPS
P2D render : 8 FPS

[2016-04-05 11:01] codeanticode commented on #199
The new release should show up in the contribution manager, but this might take a while until the indexes are updated. In the meantime you can install RC2 manually by downloading the zip file, unpacking it, and moving the AndroidMode folder into the your sketchbook/modes folder.

[2016-04-05 11:04] evshellshear commented on #199
Great. I did it and have now uploaded a new version to Google Play (a few hours ago so it should be available soon - look for version 2.36) which you can test if you want. It is at https://play.google.com/store/apps/details?id=processing.test.bugrope&hl=en. Let me know if there are still problems on your phone. If you don't have any problems I will start contacting other people who I know which ha

[2016-04-05 11:04] evshellshear commented on #199
I'll post a comment when I see version 2.36 there.

[2016-04-05 12:19] evshellshear commented on #199
@codeanticode It looks like version 2.36 is live now. If you want to give it a spin to see if it works and let me know what happens, I'd really appreciate that.

Thanks again!

[2016-04-05 12:51] rich-gg commented on #203
this might be a little off topic for this issue but spot on for my issue:
- I just tried my same code on my PC + processing, using FX2D
WOW !!! it works like a rocket !
Since my app is 2D, wouldn't it make sens for me to find a way to use JavaFX, instead of P2D ?

[2016-04-05 13:51] codeanticode commented on #203
JavaFX is not available on Android, so FX2D won't work.

The reason why P2D is particularly slow when rendering stroked shapes is because it tessellates the stroke geometry using a module that it is [implemented in pure Java](https://github.com/processing/processing-android/blob/master/core/src/processing/opengl/PGraphicsOpenGL.java#L12932), and not in native code. This same module is used both in

[2016-04-05 13:51] #203 closed

[2016-04-05 13:58] codeanticode commented on #197
[RC2](https://github.com/processing/processing-android/releases/tag/latest) should properly detect the NPOT extension, give it a try if you have a chance. Thanks.

[2016-04-05 15:20] rich-gg commented on #203
Nooooo !!

I made the mistake to post about the stroke thing BEFORE the plain render thing
my seconde post talks about the FPS loss in plain ellipse render

[2016-04-05 15:37] rich-gg opened #204 "Rendering Slower in OpenGL (P2D/P3D) than default"
**!! the previous occurrence of this issues hasn't been adressed because I made the mistake of giving 2 exemples of "Rendering Slower in OpenGL **

so here it is:

frame rate is lower in P2D that Default

[code]
running it on processing on my PC, I get 40 FPS with default renderder and 60 with P2D
on my android (using android studio and my Nvidia Shield K1) I get :

default render : 24 FPS
P2D ren

[2016-04-05 22:00] codeanticode commented on #203
@rich The reason causing the fps dropdown in both of your examples is the same, the stroke tessellation algorithm. You can either use Java2D (default renderer), P3D (with lower quality strokes), or use retained mode with PShape. For the first example, the PShape version would be:

[code]

[2016-04-05 22:02] codeanticode commented on #204
Duplicate of https://github.com/processing/processing-android/issues/203

[2016-04-05 22:02] #204 closed

[2016-04-06 03:04] evshellshear commented on #199
Hi @codeanticode, a friend of mine just checked it the update had fixed the problem on his Samsung S7 and the problem was still there. The fonts still weren't displaying properly.

[2016-04-06 11:53] evshellshear commented on #199
@codeanticode if you want, maybe you can point out the part of the processing code base which you believe is causing the issue I can also take a look at it and see if I can help (no guarantees :))

[2016-04-06 12:24] codeanticode commented on #199
Sure, my guess is somewhere in [here](https://github.com/processing/processing-android/blob/master/core/src/processing/opengl/FontTexture.java)

Could you post a screenshot of the text displaying incorrectly with RC2? Are the characters garbled, like it was reported originally by @wit22, or simply missing?

Thanks!

[2016-04-06 12:42] evshellshear commented on #199
I'm not sure but I will ask for a screenshot. It's 10:40pm here now so I'll ask my friend tomorrow to send me a screenshot and I'll post it tomorrow morning.

I'll start looking at the code now and see if I can come up with any solutions before I head off to bed and keep looking over the next couple of days.

[2016-04-06 13:02] evshellshear commented on #199
@codeanticode, I hope comments like this aren't annoying but I was just looking at the code a bit and have a couple suggestions like the following (I'm doing also just to make sure I understand the code). In the function contextIsOutdated() you have the following code:
`  public boolean contextIsOutdated() {
    boolean outdated = false;
    for (int i = 0; i < textures.length; i++) {
      if (te

[2016-04-07 03:26] evshellshear commented on #199
@codeanticode My friend who has a sony xperia Z1 sent me the attached photo. It is definitely an improvement. In the past the fonts were completely broken and corrupted (letters appearing ontop of each other, etc). Now it just seems letters are missing. I've attached the photo to this post.
![554](https://cloud.githubusercontent.com/assets/18229227/14339716/41a249ca-fcc4-11e5-9e21-598530bc244a.jpg

[2016-04-07 03:28] evshellshear commented on #199
This would point to somewhere in the code not rendering the textures when it should. My guess at the moment somewhere between line 300 and 330 maybe in addTexture(pg, idx, glyph) function? I still need to try and understand the code a bit more

[2016-04-07 03:30] evshellshear commented on #199
I don't think it has anything to do with specific letters because the S in SCORE is visible but the S in CREDITS isn't

[2016-04-08 12:03] rich-gg commented on #203
@codeanticode
I think I found the culprit: shapeMode(CENTER);

Once commented this line that I had in setup(), the frame just got unleashed

I tried with CORNER and CORNERS too, idem. It take my FPS down to about the same a default renderer, if not worst.

It might be not so hard to work around that, but I thought you'd like to know

cheers , and thank you for the help !

[2016-04-08 12:08] evshellshear commented on #199
@codeanticode have you had any luck further narrowing down what the cause could be? I've had a bit of a further look but apart from my previous two suggestions, nothing else is popping out at me.

[2016-04-12 07:12] rich-gg commented on #201
same problem occurs with Sony Xperia Z1 compact Lollipop

[2016-04-12 07:34] rich-gg commented on #201
I might have a clue:
the crash usually happens right after launch but right before the screen size is "settled"

I can see that the canvas resolution doesn't start neatly.
When launching the app, the sequences somehow goes like this:
-1- black screen
-2- screen get of background colour (in my case white), but only fills 4 fifth of height, starting from top
-3- SOMETIMES, crash with "Fatal signal 1

[2016-04-12 11:36] evshellshear commented on #199
@codeanticode, I'm going to try and get my hands on a phone and try a few tricks to see if I can figure out a workaround e.g. rendering a text multiple times to see if that helps. If you come up with anything in the mean time let me know. Thanks again!

[2016-04-13 20:54] #197 closed

[2016-04-14 07:26] evshellshear commented on #199
@codeanticode, I'm going to try and get my hands on a phone and try a few tricks to see if I can figure out a workaround e.g. rendering a text multiple times to see if that helps. If you come up with anything in the mean time let me know. Thanks again!

[2016-04-14 07:27] evshellshear commented on #199
@codeanticode I see you've made some changes, let me know when there is a version to try and I'll give it a go and let you know if it worked.

[2016-04-14 13:31] rich-gg commented on #201
didn't get over the bug, today it looks like this
A/libc: Fatal signal 11 (SIGSEGV), code 2, fault addr 0xa09a1000 in tid 11767 (GLThread 890)

but I got a little further in understanding the tricky business with width and height.
Apparently, in Android you are not supposed to mess around with the actual pixel size of your display since the system is supposed to "take it from here"
http://radar.or

[2016-04-14 17:43] codeanticode commented on #199
I will push a new PR shortly.

[2016-04-14 17:58] codeanticode commented on #201
@rich-gg thanks for bringing up the potential issue with the use DisplayMetric. I will look into ways of handling it better.

[2016-04-14 18:41] rich-gg commented on #201
@codeanticode
anything you could tell me about the OpenGL crashes ?

[2016-04-14 18:43] codeanticode commented on #201
I tried to reproduce it, but was not able to.

[2016-04-14 19:01] rich-gg commented on #201
neither am I.
I mean I'm down to try stupid things like putting my android device in menu mode, or having an app opened before I launch my app from Android Studio. And sometimes it works !
So I don't even know if it will happen anytime I launch the app.

I though maybe the error message itself would mean something to an OpenGL guy

Going to try to put this in manifest
android:hardwareAccelerated="

[2016-04-14 19:02] codeanticode commented on #201
I don't think hardwareAccelerated=true will make a difference, as it is probably the default, specially when using the GL renderers.

However, your earlier comments about the with/height not being properly set during setup might be pointing to something. Looking into it.

[2016-04-14 21:24] Coder-256 commented on #202
@codeanticode I can confirm that it is not working on OS X El Capitan 10.11.4.

[2016-04-14 21:34] codeanticode commented on #202
ok, thanks for checking.

[2016-04-14 21:42] codeanticode commented on #201
I did some changes in the way the sketch's size variables are set: https://github.com/processing/processing-android/commit/6ae45c9d90e0766ae4d82b18178767937989d43e

It is working fine on my test device, will be available in RC3.

[2016-04-14 21:48] codeanticode commented on #202
@sooonism and @Coder-256: In fact, I was able to reproduce this issue at the end, or at least, a related one. Both buttons 'Locate SDK path manually' and 'Download SDK automatically' did not appear to respond to the mouse, and the first time I had to force quit Processing. The second time the same thing happened, I tried clicking 'Download SDK' without any result but did not quit the app, and afte

[2016-04-15 00:33] Coder-256 commented on #202
Maybe change [this line](https://github.com/processing/processing-android/blob/a4324246eff7f4f3c8bbedd0ff9c537797141a2e/src/processing/mode/android/AndroidSDK.java#L269) to this:

[code]

As per [this StackOverflow answer](http://stackoverflow.com/a/8550098/3398839).
And if that doesn't work, try passing `null` as the first parameter instead of `window` in the new code.

[2016-04-15 00:35] Coder-256 commented on #202
I just realized that currently the download button does work after some time, but the locate button doesn't.

[2016-04-15 05:55] rich-gg commented on #201
cool :)

[2016-04-15 08:50] rich-gg commented on #203
@codeanticode

I got my P2D render to work out ok using the "Store your geometry in PShape objects" methode you suggested, once I removed the shapeMode(CENTER); line.

but I use graphical objects that need to be "alive" a respond, in there geometry, to real time input.
I am wondering if the strokeWeight() methode that kills my framerate in P2D could be remade using GLSL shader.

Any idea ?

cheers

[2016-04-16 16:20] codeanticode commented on #201
Please try [RC3](https://github.com/processing/processing-android/releases/tag/latest), and let me know if you still see these crashes.

[2016-04-16 16:21] codeanticode commented on #202
Just uploaded [RC3](https://github.com/processing/processing-android/releases/tag/latest), please give it a try and let me know if the SDK download works better.

[2016-04-16 16:25] codeanticode opened #205 "Not compatible with Android 23"
Tested automatically downloading Android SDK 23, but sketched give an error when running the build script that comes with the platform (android-23 not found).

[2016-04-16 16:26] codeanticode opened #206 "Update license notices"
Need to make clear what is GPL (mode) and what is LGPL (core library), following [this PR](https://github.com/processing/processing-android/pull/200).

[2016-04-16 16:37] codeanticode commented on #199
I just uploaded [PR3](https://github.com/processing/processing-android/releases/tag/latest), give it a try and let me know if you still have font rendering issues.

[2016-04-16 16:39] codeanticode commented on #156
This is fixed in [RC3](https://github.com/processing/processing-android/releases/tag/latest).

[2016-04-16 16:41] #104 closed

[2016-04-16 16:41] codeanticode commented on #104
Cannot reproduce, and no updates from original poster. Closing.

[2016-04-16 16:42] #157 closed

[2016-04-16 16:49] codeanticode commented on #203
The solution is not easy. As mentioned earlier, one possibility could be to re-implement the stroke tessellation in native code, and use it from the Java code, this should speed up stroke rendering in P2D significantly.

Re-implementing P2D stroke lines in GLSL is a non-trivial problem, unless you use some sort of approximation. Right now the tessellation is very accurate, so you can set line beve

[2016-04-16 19:17] Coder-256 commented on #202
@codeanticode RC3 isn't linked to by [the correct url](https://github.com/processing/processing-android/releases/latest), not sure why. I can't update.

[2016-04-16 20:44] codeanticode commented on #202
It might take a while to show up on the Contribution Manager until the indexes are updated, but you can install RC3 manually by downloading the .zip file, unpack it, and then copy it to the mode folder inside your sketchbook folder.

[2016-04-17 00:32] evshellshear commented on #199
@codeanticode Thanks for that. I'll integrate it into the code and upload it and get someone to try it who has a problematic device (probably tomorrow when I see them)

[2016-04-17 10:19] evshellshear commented on #199
@codeanticode After running the new patch I just noticed one thing which I thought I would check with you. In commit 6ae45c9 you changed the fullscreen mode. Unfortunately, when I swipe in to get back the navigation buttons, they then don't disappear after a while. Unless this change needed to occur because of the font problem, in my opinion I'd prefer if it remained like it was in the past. Espec

[2016-04-17 10:43] evshellshear commented on #199
@codeanticode if my previous suggestion is not appropriate, how can I build only the AndroidMode.jar by cherrypicking your commits?

[2016-04-17 11:02] evshellshear commented on #199
@codeanticode I can understand what you are doing on line 504 in PApplet.java, did you not also want View.SYSTEM_UI_FLAG_IMMERSIVE_STICKY as well to get your desired behavior? Not totally sure. But I just see that the nav buttons won't go away (after swiping left) even after trying to mess with my manifest and a few other things.

[2016-04-17 12:26] evshellshear commented on #199
@codeanticode by the way I run a nexus 5 with Android 6.0.1

[2016-04-17 14:31] codeanticode opened #207 "Better fullscreen mode"
Navigation bar should not be visible when running sketch in full screen mode. PR3 includes some changes that hide the bar using the new [immersive API](http://developer.android.com/training/system-ui/immersive.html) available in 4.4 and higher, otherwise it simply sets the [SYSTEM_UI_FLAG_HIDE_NAVIGATION](http://developer.android.com/reference/android/view/View.html#SYSTEM_UI_FLAG_HIDE_NAVIGATION)

[2016-04-17 14:32] codeanticode commented on #199
I updated your app and now all the text renders correctly on my test device (N5X), so looks like this issue is finally solved. Please confirm.

Let's discuss the fullscreen behavior on a [separate thread](https://github.com/processing/processing-android/issues/207).

[2016-04-17 15:06] omerjerk commented on #205
Hey @codeanticode,
Are you working on this ?
I can look into it.

[2016-04-17 15:09] omerjerk commented on #188
Why are you using that app ? We don't maintain that app.
You should rather use the Android mode of processing.

Also, don't forget to add the read permissions to your app.

[2016-04-18 00:31] evshellshear commented on #199
@codeanticode you legend! It now works on all devices I have. Thanks so much for that. I'll jump to the other thread for this issue

[2016-04-18 00:34] evshellshear commented on #207
@codeanticode in fullscreen mode, after the navigation bar is swiped in, it no longer disappears (as expected). I think on line 504 in PApplet.java, you also want View.SYSTEM_UI_FLAG_IMMERSIVE_STICKY as well to get your desired behavior? Not totally sure. I just see that the nav buttons won't go away (after swiping left) even after trying to mess with my manifest (i.e. changing android:theme="@and

[2016-04-18 03:45] #199 closed

[2016-04-18 06:54] rich-gg commented on #203
thank you for that insight

[2016-04-18 06:55] rich-gg commented on #201
going to spend the week using it.

[2016-04-18 08:18] rich-gg opened #208 "Animated PShape, P2D and non-PShape Geometry disappearing"
Using the PShape code I copied from WigglePShape sample, I can have an animated PShape with the desired strokeWeight running smoothly in my Android App.

But, as soon as I run the **method that plays with the shape vertexes all the non PShape object in the class just disappear**. And this happens **only with P2D and Android**

no problem with JAVA2D and P3D rendering, and no problem on P2D on PC

[2016-04-18 11:27] rich-gg commented on #208
tested:
even if you don't use the  shape(s, width/2, height/2); line, to display the shape, changing is
through the wiggle() function makes the other geometry disappear

[2016-04-18 14:13] codeanticode commented on #205
That would be great. Use the latest revision, and change [PLATFORM_API_LEVEL](https://github.com/processing/processing-android/blob/master/src/processing/mode/android/SDKDownloader.java#L35), and install the SDK automatically from the PDE. Once installed, try running a sketch on the device.

[2016-04-18 14:48] Coder-256 commented on #202
@codeanticode What I meant is that you should have tagged it `android-0250` instead of `latest`.

It does work if I use the method you showed me. The only problem is that Processing hangs if you cancel the setup in any way (cancelling the file dialog, cancelling the download, or closing the window).

[2016-04-19 12:34] evshellshear commented on #207
@codeanticode if you think my suggestion is right and you want to try adding the additional View.SYSTEM_UI_FLAG_IMMERSIVE_STICKY flag and send me a link to a new AndroidMode zip, I'll install it and double check that it works.

[2016-04-19 12:59] codeanticode commented on #207
The android-core.zip file should be enough. Replace the one inside the AndroidMode folder with the one I'm attaching here. I added the View.SYSTEM_UI_FLAG_IMMERSIVE_STICKY to the visibility, as you suggested. Let me know if it works.

[android-core.zip](https://github.com/processing/processing-android/files/225889/android-core.zip)

[2016-04-19 13:06] evshellshear commented on #207
Awesome. Will do. Just going to bed now but will try tomorrow when I wake
up.

Thanks
On Apr 19, 2016 11:00 PM, "codeanticode" <notifications@github.com> wrote:

[2016-04-19 13:28] CyrusSUEN commented on #188
Thanks! That works.

[2016-04-19 13:28] #188 closed

[2016-04-20 02:39] evshellshear commented on #207
@codeanticode thanks for that. It works like a charm now!

[2016-04-20 03:18] codeanticode commented on #207
Excellent!

[2016-04-20 03:19] codeanticode commented on #205
@omerjerk were you able to test it?

[2016-04-20 05:29] omerjerk commented on #205
I'm sorry. I missed your last reply.
I'll test it right away.

[2016-04-20 12:43] codeanticode opened #209 "PDE freezes after switching into the Android mode"
Observed on PR3 under OS X 10.10

[2016-04-20 12:44] codeanticode opened #210 "Update app icons"
The set of default icons should be updated for the final 3.0 release.

[2016-04-20 15:21] omerjerk commented on #205
@codeanticode
I tested it and it worked totally fine.
Although one thing I noticed was that dialog doesn't come even when the platforms folder is empty. I can send a pull request to take care of this case.

[2016-04-20 17:05] codeanticode commented on #205
I'm still getting the error. What platform are you on? Linux? I'm on OS X, so I wonder if that has something to do with it.

The SDK that gets installed is N (23), which shows up like this in the SDK selection menu:

![image](https://cloud.githubusercontent.com/assets/62246/14683365/5d17232c-06f8-11e6-94e9-84f6417de4fc.png)

Any sketch that I try to run on the device fails with this error in the c

[2016-04-20 18:20] omerjerk commented on #205
I'm on Ubuntu, but I don't think this issue is specific to OS.
I'll check again why it happens.

[2016-04-22 10:18] jango-fx opened #211 "blank white screen on android 6.0"
i'm trying to get a simple test sketch to run on Marshmallow. But all i get is a blank white screen. The same goes for any other example sketch.

i'm on
- OS X 10.11.4
- javac 1.8.0_92
- Android 6.0
- Motorola XT1068
- Processing 3.0.2
- Android SDK: API 6.0 (23)

i don't get any errors. except for those warnings. and i don't seem to get any feedback from `println();` either.

my code is really ju

[2016-04-22 11:42] ZachSundberg commented on #211
Having the same issue since the latest update.  Looks like draw() is not being called.

[2016-04-24 00:59] codeanticode commented on #211
Thanks for the info, will look into it.

[2016-04-24 15:37] sesmusician commented on #211
Yes, same problem using API 21, 22 ,and i also used API 15 just in case.

[2016-04-24 23:51] joshgiesbrecht commented on #211
I just had this problem, and it's """fixed""" by calling size() in your setup function. (Discovered this by accident while trying example code)

[2016-04-24 23:52] joshgiesbrecht commented on #211
("""fixed"""" because this results in a non-fullscreen sketch window centered on the device; obviously not optimal but at least you can do stuff with it)

[2016-04-29 05:35] jango-fx commented on #211
well, good enough for me at the moment. if it's called in settings(), it works fullscreen, too.
[code]

[2016-04-29 06:05] jango-fx opened #212 "Processing IDE freezes, when switching to Android Mode"
arr! trying to update android mode somehow just messed everything up for me...
when i try to switch to android mode, the GUI seems to restart, then just freezes.

i tried downgrading from "Processing/modes/old", now i can successfully start android mode but i get weird warnings like "PApplet does not exist" or "background(int) does not exist" and the app crashes on start on the device...

deleting

[2016-04-29 10:53] jango-fx commented on #212
ok, seems uninstalling and reinstalling sdk helped.
but now i got this problem again: #211

[2016-04-29 11:27] jango-fx commented on #212
downgrading **that** one i could fix by downgrading to a previous version from "Processing/modes/old"..

[2016-04-29 11:29] #212 closed

[2016-05-01 07:11] evshellshear commented on #207
@codeanticode sorry to open up this issue again but the full screen mode doesn't seem to work as it should. I am getting a similar type of behavior to the following thread (which also suggests a solution):
http://www.jericdy.com/blog/2014/01/09/proper-way-to-use-full-screen-immersive.html

Except that it happens for me when you press the home button while the game is "loading" either the Hang or t

[2016-05-01 12:29] rich-gg commented on #201
Since RC3, my apps run flawlessly on both my Z1 compact Lollipop and my K1 shield Marshmallow

:+1:

[2016-05-01 12:30] rich-gg commented on #207
Since RC3 my app run flawlessly

 for info, the manifest for my app uses IMMERSION mode like so:
decorView.setSystemUiVisibility(
View.SYSTEM_UI_FLAG_LAYOUT_STABLE
| View.SYSTEM_UI_FLAG_LAYOUT_HIDE_NAVIGATION
| View.SYSTEM_UI_FLAG_LAYOUT_FULLSCREEN
| View.SYSTEM_UI_FLAG_HIDE_NAVIGATION
| View.SYSTEM_UI_FLAG_FULLSCREEN
| View.SYSTEM_UI_FLAG_IMMERSIVE_STICKY);}

[2016-05-01 13:11] evshellshear commented on #207
Thanks for the feedback and what you wrote is quite interesting. Two
questions:

1) are you able to reproduce the issue at all either via the volume rocker
(a la link i posted) or via exiting the app with home or back button and
then returning to the app?

2) how do you use a decorView in your processing app? In the draw or setup?
I have tried but I get an error. I didn't think I was allowed to to

[2016-05-03 11:44] evshellshear commented on #207
@codeanticode have you had a chance to test this issue?

[2016-05-03 13:26] codeanticode commented on #207
Not yet, but will try to do it soon.

[2016-05-03 20:55] codeanticode commented on #209
After waiting for a while, the PDE is responsive again, but the following error shows up in the console (3.0.2):

[code]

Same thing happens with latest revision from Processing (0249), the error is slightly different:

[code]

[2016-05-03 21:02] codeanticode commented on #202
latest is always identical to the most recent release (because the CM requires a static URL), which right now is 0249: https://github.com/processing/processing-android/tags

I have been testing the locate and download options, and they seem to work fine, although only most of the time. Sometimes the PDE hangs after canceling the download or the locate, which is reported separately https://github.c

[2016-05-03 21:04] codeanticode commented on #156
no confirmation from original posters, and the download logic is fixed in PR3. There are still some issues, but addressed [here](https://github.com/processing/processing-android/issues/202) and [here](https://github.com/processing/processing-android/issues/209).

[2016-05-03 21:04] #156 closed

[2016-05-03 23:18] codeanticode commented on #207
The issue with when pressing the volumen buttons seems to be a bug in KitKat, it doest not happen in 6.0.1. Another thing that did happen was that the navigation bar remained visible in full screen mode when the app rotates upon orientation change, that is fixed by reseting the visibility on resume https://github.com/processing/processing-android/commit/dd60471d17b018bd159cbf8983ed4fbc965bd139

Ho

[2016-05-03 23:18] #207 closed

[2016-05-03 23:25] evshellshear commented on #207
Ok great. Thanks for that. I assume the work around suggested in the thread
is not desirable in the processing code base but how can I add it to my
code? In the setup or draw part? I'm not a pro at this, so could you give a
code snippet if you get a chance please?

Thanks!

[2016-05-03 23:32] codeanticode commented on #208
I can reproduce it, very weird.

[2016-05-03 23:39] codeanticode commented on #207
setOnSystemUiVisibilityChangeListener() is a method defined in the View class. I believe you should call it on the surface view associated to the sketch, something like this:

[code]

but haven't tested it.

[2016-05-04 00:28] evshellshear commented on #207
Awesome. I'll play around with that. Thanks again.

[2016-05-04 04:13] Manindra29 commented on #209
This error is from the [google classpath explorer library](https://github.com/frankslin/classpath-explorer) which is used for providing import suggestions. It's running out of memory while performing a regex match to find all possible classes that match some class in the classpath. The Android SDK definitely adds a lot more classes to its search path on top of the default pde classpath classes. I'

[2016-05-04 14:26] codeanticode commented on #209
The only jar in the Android SDK that should be searched for classes to import is platforms-xy/android.jar, and if several platforms are available, only the currently selected one . Is there any way to specific the particular jar to include in the classpath?

[2016-05-04 14:52] codeanticode commented on #208
Fixed with https://github.com/processing/processing-android/commit/c382956cdf6bf5ee1a2f441112533c703791576e

[2016-05-04 14:52] #208 closed

[2016-05-04 14:56] codeanticode commented on #201
Great, thanks for the update.

[2016-05-04 14:56] #201 closed

[2016-05-04 17:47] codeanticode commented on #206
Updated license notices in all source code files, removed use of Apache-licensed code, and made note in readme file about different licensing between core library and mode itself. No need for further information.

[2016-05-04 17:47] #206 closed

[2016-05-04 19:36] codeanticode commented on #209
Just a quick update: forcing ASTGenerator.getSuggestImports() to return null regardless of the situation does in fact eliminate the UI hanging and the OutOfMemoryError. So we clearly need a way to limit the extent of search by the classpath explorer...

[2016-05-04 20:48] codeanticode commented on #205
Don't know why you didn't see this happening on Linux, but I found the problem: platform preview N has the same API level, 23, las the latest "stable" platform, 6.0, as you can see in the [repository xml](https://dl-ssl.google.com/android/repository/repository-11.xml). So selecting platform only by level was downloading N, but Processing tried to use 23 (6.0), and this lead to the problem. [This c

[2016-05-04 20:48] #205 closed

[2016-05-04 20:56] codeanticode commented on #212
This is probably a duplicate of https://github.com/processing/processing-android/issues/209

[2016-05-04 21:18] #211 closed

[2016-05-04 21:19] codeanticode commented on #211
Thanks for bringing this up. There was an actual bug: on the desktop, Processing sets a default width/height of 100x100, however this was not being done in the android mode. Now it is.

[2016-05-04 21:42] #81 closed

[2016-05-04 21:42] #87 closed

[2016-05-04 21:43] #92 closed

[2016-05-04 21:44] codeanticode commented on #64
This has been take care of in the mode4 branch.

[2016-05-04 21:44] #64 closed

[2016-05-04 21:45] codeanticode commented on #136
Solved in recent releases.

[2016-05-04 21:45] #136 closed

[2016-05-04 21:45] codeanticode commented on #145
Cannot reproduce.

[2016-05-04 21:45] #145 closed

[2016-05-05 02:11] codeanticode commented on #147
Fixed with https://github.com/processing/processing-android/commit/dd0c24643ba74b997e07a406abcf440911b46032

[2016-05-05 02:11] #147 closed

[2016-05-05 12:11] jsalerno opened #213 "PApplet fragments retain Activity reference and prohibit GC"
I am using the 3.02 android library.

I have 2 android.app.Activity subclasses, each of which embeds a different processing.core.PApplet fragment subclass. Those fragments extend my own subclass MyPApplet intermediate shown partially below, and MyTroublesomeProcessingFragment overrides the *settings()* method with a 3D setup:
<pre>
public abstract class MyPApplet extends PApplet {
	@Override
	publ

[2016-05-05 20:31] codeanticode commented on #213
Well, the activity instance is also used to initialize the GLSurfaceView, (see [here](https://github.com/processing/processing-android/blob/master/core/src/processing/core/PApplet.java#L488)), so it could be the that another reference is kept inside it?

We could set the activity field to null when the sketch is disposed somewhere in [here](https://github.com/processing/processing-android/blob/mas

[2016-05-06 04:58] jsalerno commented on #213
Hi, thanks for the feedback.
I had approximately the same thoughts, but have not yet contributed to the codebase.

Might it also be worthwhile in the final dispose method of PApplet to
<pre>surfaceView.getHolder().getSurface().release();</pre>
and then
<pre>surfaceView=null;</pre>
as well as
<pre>activity=null;</pre>

I could make the changes and issue a merge request.

A question then about the A

[2016-05-06 14:45] codeanticode commented on #213
Yes, please create a PR, so I can look into it and merge if everything is ok.

As for building the android mode, please note that it depends on both the processing-core and the processing-java projects, which are inside the [main processing repo](https://github.com/processing/processing). Note that the build scripts for android-core and the mode  point to the main processing repo ([here](https://g

[2016-05-06 17:18] codeanticode opened #214 "Missing characters when changing orientation of app"
Sometimes (but not always), when changing the orientation of this sketch:

[code]

the text does not show all characters. The problem goes away when changing orientation again

[2016-05-07 06:54] codeanticode commented on #209
A temporary workaround is to disable the "Suggest import statements" option in the Preferences.

[2016-05-07 06:56] codeanticode commented on #202
A temporary workaround for the PDE freeze issue is to disable the "Suggest import statements" option in the Preferences.

[2016-05-07 06:56] #202 closed

[2016-05-07 06:57] codeanticode commented on #212
@jango-fx A temporary workaround for this issue is to disable the "Suggest import statements" option in the Preferences.

[2016-05-07 07:05] codeanticode commented on #209
@JakubValtar adding you to this discussion. As Manindra pointed out above, this issue is due to the classpath explorer library, used by the suggest imports features. The Android SDK has too many classes, and this leads to the out-of-memory error.

[2016-05-07 08:30] JakubValtar commented on #209
@codeanticode Update processing to latest and try again. I did error checker overhaul (merged yesterday) and it works great for me with -Xmx256m. Problem might be that previously whole processing app class path was added to search path, which is certainly not what we wanted and for example IDEs are adding tons of stuff to class path, so some people may have experienced problems with having too muc

[2016-05-07 12:38] JakubValtar commented on #209
@codeanticode I fixed memory leak in AndroidEditor which was preventing closed editors to be GC'd. Might solve this. I can run more than 10 editors within 256 MB. See https://github.com/processing/processing-android/pull/215

[2016-05-07 12:46] codeanticode commented on #209
Awesome, thanks a lot! I I just run the mode using the PDE after you checker overhaul, and didn't observe the freeze so far. I will now look into the PR.

[2016-05-09 19:09] codeanticode commented on #209
The freeze is solved in 3.1, when using 3.0.x, disable the "Suggest import statements" option in the Preferences as a workaround.

[2016-05-09 19:09] #209 closed

[2016-05-09 19:20] codeanticode commented on #212
Using Processing 3.1 solves this issue.

[2016-05-09 19:27] codeanticode commented on #213
I added our suggestions for the dispose method in the latest release, RC4:

https://github.com/processing/processing-android/releases/tag/latest

Please let me know if it works.

[2016-05-09 19:37] JakubValtar commented on #209
Glad it helped!

[2016-05-11 11:57] imartini opened #216 "Debug console in "Processing Sketch", doesn't receive response of app"
Hi!!

Some time ago, I was worked in a VR/AR aplication. This works perfectly in Android 5.1.1, Processing 3.0.1 and the processing-android mode. The problem begins when I upgrade to Processing 3.1, the last processing-android mode and Android 6.0.1 on my smartphone. I can install the app, but de debug console doesn't recieve any response from the errors or code (println() or similars) from the sm

[2016-05-11 13:19] jsalerno commented on #213
That change has fixed the Acivity-ref problem.
Thank you very much  !

[2016-05-11 13:19] #213 closed

[2016-05-11 13:35] sesmusician commented on #216
Does the app run in your device?

[2016-05-11 16:52] imartini commented on #216
Yes, the app run perfectly. Doesn't return any error.

[2016-05-11 18:12] codeanticode commented on #216
@JakubValtar any chance this could this be due to a recent change in the JavaMode?

[2016-05-11 18:40] JakubValtar commented on #216
@codeanticode Probably not. There was some change in out and err stream encoding though, try to look there.

[2016-05-11 18:49] imartini commented on #216
I tried with a Processing 3.0.2 and old versión of android-mode, and the problem persist. I think that the problem is in the android 6.0.1 and processing-mode can't interpret the response of the smartphone. Another possibility is the incorrect installation of the android in my smartphone, but it's a clear installation.

[2016-05-11 23:43] codeanticode commented on #216
Ok, it is likely then that something changed in Android 6.0.1 that broke the debug output. Will look into it.

[2016-05-12 07:40] rich-gg commented on #216
Hi imartini
Might be out of context but I am interested in making AR app for Android using Processing.
is ke:tai the trick ?

Would you be so kind as to exchange on the topic with me ?

cheers

[2016-05-12 08:28] jsalerno opened #217 "PApplet fragments remain in memory even after parent activity has been destroyed"
A fix in https://github.com/processing/processing-android/issues/213 solved the issue of Activity refs being retained by PApplet fragments. That solves a major part of memory loss/leakage. Those activity's PApplet fragments, however, are themselves retained in memory even after the Activity instances are gone from the Heap.

Here is a sample reference tree of such a fragment ref still on the heap:

[2016-05-12 11:26] rich-gg commented on #208
hey @codeanticode

I noticed that animating the PShape that way really hits the FPS hard on Android but not on PC.
Any idea how to get it well on Android ?

[2016-05-18 05:08] codeanticode commented on #208
If your PShape is highly dynamic and needs to be updated every frame, just use regular drawing with beginShape()/endShape(). PShapes are mainly designed to provide fast rendering for static geometries.

[2016-05-18 05:38] rich-gg commented on #208
thank you for the answer :)

[2016-05-18 09:54] codeanticode commented on #216
@imartini What was the last version of Processing, Android mode, and SDK where you were able to get the debug output in the console?

I tried Processing 3.0.2 with the RC4 release of the mode and SDK 4.0.4 (15), and don't get any output, so this might have been going on for a while, I just didn't notice until now.

[2016-05-18 13:18] imartini commented on #216
Android SO 5.1.1 SDK 22, Processing 3.0.1 and Android Mode 3.0-beta4.
The other possibility that was broken the debug output, it's the Windows 10 actualizations? Capping the usb or something.

[2016-05-19 15:23] ajavamind opened #218 "Blend fails with transparency"
The code at https://github.com/ajavamind/MergeTransparentPhotoLoop
runs as expected in Java Mode, but in Android Mode it fails to blend two photos.
Is there something missing in my code for the Android version to run?
Testing with 3.1.1 and Android 3.0-RC4 with different SDK versions 4.4, 5.0.2 and 6.0.1 on two phones.

[2016-05-26 14:01] ajavamind commented on #218
Here is another version of the code to accomplish same desired effect that works fine in Java Mode but fails in Android Mode

`// Written by Andy Modla May, 2016

// Inspiration for this code from
// https://processing.org/discourse/beta/num_1212692440.html

final int TOP_LIMIT = 255; // 255 is max tint range;
final int BOTTOM_LIMIT = 128;

String top = "rDSC_1915_cr.jpg";
String bottom = "rDSC_18

[2016-06-01 23:00] codeanticode opened #219 "Cannot create emulator"
The console gives the following error when trying to run a sketch on the emulator:

"Could not create a virtual device for the emulator"

[2016-06-05 16:49] codeanticode commented on #210
Resolved with https://github.com/processing/processing-android/commit/c262d998bbeb30e88b1aea7411f251b575383df0 and https://github.com/processing/processing-android/commit/95c89f5f116aa4e331b3d4a8f9666c714092761d

[2016-06-05 16:49] #210 closed

[2016-06-06 02:10] codeanticode commented on #138
Fixed in recent RCs

[2016-06-06 02:10] #138 closed

[2016-06-06 02:11] #52 closed

[2016-06-06 02:45] codeanticode commented on #219
Fixed with https://github.com/processing/processing-android/commit/bff4f230193baa83a2e9330eb48d6387979d2747

[2016-06-06 02:45] #219 closed

[2016-06-06 11:42] CaffeineOverdrive commented on #216
I'm running Processing for Android on a couple if rigs under various configurations and have only found the debug console problem using phones on Android 6.01.
Windows version, Android Mode version, Processing version don't consistently seem to affect the issue.
It looks like Android 6.01 has changed something in the debug output and Processing's console can't echo them.
As a workaround I can stil

[2016-06-06 17:46] codeanticode commented on #216
Yes, you should be able to run adb logcat and see the debug messages. I will look into it soon, I filed the issue under the 3.0.1 bugfix release, which will happen shortly after I push the 3.0 final.

[2016-06-09 20:45] ZachSundberg commented on #43
Ran into this today.  The only way around it for now is to edit the AndroidManifest.xml in the \android folder that gets created when you export, before your run ant release.

[2016-06-10 14:10] codeanticode commented on #96
duplicate of #10

[2016-06-10 14:10] #96 closed

[2016-06-11 13:39] codeanticode opened #220 "Use ARM EABI system image on Windows"
The emulator image is downloaded and installed, and the Processing AVD correctly created (using Android 6.0). However, when trying to run sketch in emulator, the emulator never starts up and the following error appears in the console:

[code]

[2016-06-11 13:42] codeanticode commented on #35
Added up to xxxhdpi icons (192px) in 3.0.

[2016-06-11 13:42] #35 closed

[2016-06-11 13:46] codeanticode opened #221 "USB Driver install message on windows"
First time running a sketch on a device, the mode displays a message suggesting to install the USB drivers for windows, even though there is a device properly recognized. The message should be shown only if there are no devices available.

[2016-06-11 14:23] codeanticode opened #222 "Store base package, version, prettyVersion, and selected component in sketch.properties file"
The default package name is processing.test.<sketch name>. Would be good to allow the user to set his or her desired package name when exporting the sketch as a signed app (and perhaps also an app name that includes spaces).

[2016-06-11 15:50] codeanticode opened #223 "Move cardboard packages to Cardboard library"
The cardboard_core.zip, cardboard_common.zip, and cardboard_audio.zip packages should be bundled with the Cardboard library, and copied when building the sketch in Cardboard mode.

[2016-06-11 15:52] codeanticode opened #224 "Check that Cardboard library is installed"
When switching to the Cardboard app option, the mode should check that the Cardboard library is installed, and show a warning asking to install it through the CM if it is not.

[2016-06-12 16:45] codeanticode opened #225 "Permissions are not working"
[This sketch](https://github.com/codeanticode/processing-android-tutorials/blob/master/location_permissions/gps_example/gps_example.pde) uses GPS location, but even after enabling both the ACCESS_COARSE_LOCATION and ACCESS_FINE_LOCATION permissions from the mode, it crashes with the following error:

[code]

VIBRATE permission also crashes a watch face with the following error:

[code]

although i

[2016-06-12 16:48] codeanticode opened #226 "Finalize TouchEvent class"
https://github.com/processing/processing-android/blob/master/core/src/processing/event/TouchEvent.java

[2016-06-12 19:37] codeanticode opened #227 "Unify API to get context in 4.0+"
The context can be obtained with ```surface.getActivity()``` in regular apps, but this gives null in wallpapers, in which case ```surface.getComponent()``` should be used instead. Perhaps there is a way to combine both functions in one surface.getContext().

[2016-06-13 17:43] q2dg opened #228 "Could you embrace Ketai library as a subproject of Processing-Android?"
This library seems pretty abandoned and it's a pity. It would be the perfect complement to make Processing-Android a really complete environment to write Android-based applications, and meanwhile keeping its simplicity. Students could get rid of AppInventor!!

[2016-06-13 22:45] codeanticode opened #229 "Add new permissions"
Reading hearth rate in Android wear requires the BODY_SENSORS permission, which is not available in the mode right now.

[2016-06-14 11:31] codeanticode commented on #228
I'm in touch with the authors of Ketai, and they confirmed that the project is active. If you are experiencing specific issues with it, please report them in their [GitHub page](https://github.com/ketai/ketai/issues).

[2016-06-14 11:31] #228 closed

[2016-06-16 01:21] mitchmindtree opened #230 "Wiki links to `http://android.processing.org/`, which links directly back to wiki."
The wiki recommends to use [the official site](http://android.processing.org/)

 which itself seems to be an empty page that links back to the wiki.

[2016-06-16 01:35] REAS commented on #230
This might be a temporary error while we're in transition. We're launching a new Android site very soon. For now, you can see it here: http://android.processing.org/test/

[2016-06-16 01:35] #230 closed

[2016-06-18 21:49] codeanticode commented on #229
implemented in https://github.com/processing/processing-android/commit/7e2639b459f3f575400cac808ef885d690075b3a

[2016-06-18 21:49] #229 closed

[2016-06-18 22:10] codeanticode commented on #225
The problem with watch faces has been fixed with https://github.com/processing/processing-android/commit/38193cec28aa547e05b7dd424e7df6b7b9c9dd29, however the other errors happen on Android 6.0, and are due to the new [dangerous permissions](https://developer.android.com/guide/topics/security/permissions.html#normal-dangerous) in 6.0, which require the users to accept the permissions [during runti

[2016-06-27 12:58] nicho2 opened #231 "Can't read a json file from url"
i try to do a simply load json as this (this code run in java mode):
I have activate the INTERNET, WRITE_EXTERNAL_STORAGE permission

    final JSONObject json = loadJSONObject(url);
    int position = json.getInt("last_value");

my url is : http://io.adafruit.com/api/feeds/detection?x-aio-key=xxxxxxxxx

the error is :

Couldn't create a reader for http://io.adafruit.com/api/feeds/detection?x-aio-

[2016-06-30 19:45] Twaan07 opened #232 "Connecting Smartwatch"
Hey, i am struggeling getting processing android to work with my moto360. I get to the step where host and destination are connecting, but if I am opening processing, the host disconnects. I think its this problem but don`t know how to solve with processing, http://visualgdb.com/adbfix/ . Hope you can help me.﻿

[2016-07-17 13:55] #216 closed

[2016-07-17 14:41] codeanticode commented on #217
All fragments should be automatically disposed when the activity that created them is destroyed, and this won't happen if the app was only [paused or stopped](https://developer.android.com/reference/android/app/Activity.html#ActivityLifecycle). I made some minor changes (https://github.com/processing/processing-android/commit/668bb06ace228c7dd7731624f4288d5d6395d198) to make sure that not referenc

[2016-07-17 14:41] codeanticode commented on #232
@Twaan07 still having this problem?

[2016-07-17 20:21] codeanticode commented on #217
Also, [this thread](http://stackoverflow.com/questions/6330200/how-to-quit-android-application-programmatically) mentions the use of Activity.finish() and Activity.finishAffinity(), which sounds like the right way to terminate the app and all associated components. I'm use finishAffinity() in exit2(), and see what happens.

[2016-07-17 21:36] codeanticode commented on #225
Fixed in 3.0.1 with https://github.com/processing/processing-android/commit/43b8ef6cfeb5fed1680e50d6639301a3f547c2c4

[2016-07-17 21:36] #225 closed

[2016-07-18 15:42] codeanticode opened #233 "latest versions of built-tools, platform-tools and sdk-tools are not downloaded"
The SDK Downloader makes some assumptions about the position of the xml items to fetch the latest one, but don't seem to be correct.

[2016-07-18 16:01] #233 closed

[2016-07-18 19:18] codeanticode commented on #218
Fixed with https://github.com/processing/processing-android/commit/24acabb15016fc193f4b70373ec05d6c3c1c5491 and https://github.com/processing/processing-android/commit/161137e2b20c9199016b2dee4f98ee82fa88d63a.

Please note that access to the pixels array needs to be accompanied with the use of updatePixels at the end:

[code]

[2016-07-18 19:18] #218 closed

[2016-07-18 20:10] codeanticode opened #234 "Port fixes from 3.0.1"
* Request user authorization for dangerous permissions
* Download latest revisions of platform and tools
* use brief option for logcat
* Fix pixels handling in PImage
* Use Java2D blending
* Use finishAffinity() to properly terminate app
* Remove deprecated methods
* Fix examples
* Use ARM system image on windows and linux

[2016-07-18 22:14] #227 closed

[2016-07-19 14:23] codeanticode commented on #220
Trying to start the emulator from the AVD manager gives the following error:

[code]

[2016-07-19 15:46] codeanticode commented on #220
Implemented with https://github.com/processing/processing-android/commit/f2527010aed84bbbb28900e36e3dacf7288b40a6. Mac OSX continues to use Intel system image since Macs all have Intel CPUs. Users could create emulators on their own for Windows and Linux that use images faster than ARM EABI

[2016-07-19 15:46] #220 closed

[2016-07-19 15:47] #221 closed

[2016-07-19 16:43] codeanticode commented on #231
@nicho2 the following sketch is able to read a test json from an URL without problem:

[code]

It only requires the  INTERNET permission. Maybe there is a problem with the adafruit API or  your API key?

Also, note that the WRITE_EXTERNAL_STORAGE  permission is considered a ["dangerous" permission](https://developer.android.com/guide/topics/security/permissions.html#normal-dangerous) on Android 6

[2016-07-19 16:43] #231 closed

[2016-07-19 21:04] #234 closed

[2016-07-19 21:06] codeanticode commented on #232
If the problem is caused by an old version of the adb, the next release of the mode (beta2) will install the latest version of the tools, so that should solve it. You can also update the tools after the SDK was downloaded by opening the SDK Manager and applying all the available updates.

[2016-07-19 21:06] #232 closed

[2016-07-20 17:53] codeanticode opened #235 "Implement permission handling for services"
"Dangerous" permissions need to be requested to the user once the app has been installed. In the case of services, particularly watch faces, there are [several ways to do it](https://developer.android.com/training/articles/wear-permissions.html) (wearable app requests the permission on the wearable device, handheld app requests the permission on the wearable device, etc). The simplest seems to be

[2016-07-22 00:48] codeanticode commented on #235
https://github.com/processing/processing-android/commit/b43fdb73826dbc9bc3a7495769e909e666078e5d and https://github.com/processing/processing-android/commit/dcd95c84828699c80976f9dc0038b65a2365e7b1 fixes it

[2016-07-22 00:48] #235 closed

[2016-07-22 15:36] codeanticode commented on #222
Use the existing sketch.properties file to avoid adding mode UI elements. Something like:

[code]

[2016-07-22 21:17] codeanticode opened #236 "WAKE_LOCK permission gets added repeatedly to the manifest file"
In watch face apps, the WAKE_LOCK permission gets added repeatedly, possibly after setting the component type to watch face again,

[2016-07-22 21:18] codeanticode commented on #222
No need to store basePackage, version, and prettyVersion, as those can be edited in the manifest file.

Done with https://github.com/processing/processing-android/commit/3787f78d2ffc446bd1d1e6b3cfd6a032240d2f4f and https://github.com/processing/processing-android/commit/233ba02e7d4161f199952ac40e9850309f024764

[2016-07-22 21:18] #222 closed

[2016-07-22 21:29] codeanticode opened #237 "use same sketch creation mechanism across wallpapers and watch faces"
Both are services that initialize their sketches in the Engine.onCreate() callback method, but wallpapers use the createSketch(), while watch faces create the sketch in the constructor of the watch face class and then call setSketch(). Use one or the other to avoid confusion.

[2016-07-25 11:54] codeanticode opened #238 "don't exit app if permissions are not granted"
The app in 3.0.1 quits if any "dangerous" permission is not granted by the user when the app starts. The app should handle this situation in the sketch code, exiting if that's the only option. The PApplet.checkPermission() method can be used to determine whether a given permission has been granted, and act accordingly.

[2016-07-25 11:55] codeanticode commented on #217
@jsalerno Bugfix release 3.0.1 is available in the CM, do you still see this problem?

[2016-07-25 19:54] codeanticode opened #239 "Cardboard app doesn't need extra permissions"
Right now READ_EXTERNAL_STORAGE, WRITE_EXTERNAL_STORAGE, NFC, and VIBRATE are automatically added to the manifest file. Are they needed?

[2016-07-25 19:55] codeanticode opened #240 "Format manifest file"
It does not include line breaks, so it is hard to edit manually.

[2016-07-26 07:43] codeanticode opened #241 "Watch face is not properly installed"
When the watch face component is saved to the sketch properties, and the sketch is re-opened, is not installed through the handheld device.

[2016-07-27 07:22] q2dg commented on #228
Well, I turn again.

If Ketai isn't, what about (at least ) try integrating  https://github.com/arduino/BtSerial?

It is a library to give Bluetooth capabilities to processing-android (in "desktop" processing it doesn't matter because we can use Bluetooth through Serial communication but in Android is not so easy .

I have written more reasoning in https://github.com/arduino/BtSerial/issues/3#issu

[2016-07-27 08:29] q2dg opened #242 "Suggestion: add a "Serial" library à la existing one in "Java" mode"
I've found this https://github.com/inventit/processing-android-serial , it could be a start
My reasoning is explained here: https://github.com/inventit/processing-android-serial/issues/9#issue-167738576
Thanks a lot

[2016-08-01 16:08] ajavamind commented on #218
thanks, works great!

[2016-08-05 18:46] codeanticode opened #243 "Switching back and forth between views might exhaust memory"
If a sketch is embedded inside a parent layout in a multiple tab app, switching back and forth between the tabs might lead to an Out Of Memory Error when creating the backing bitmap for the Android2D renderer:

[code]

[2016-08-05 22:10] thijsvb commented on #146
I have a similar problem using this code:

[code]
This does create a the file in the correct folder, but the file is 0 bytes.

[2016-08-31 21:18] thijsvb commented on #223
Maybe this is creating an error when trying to export a sketch using eclipse?

I exported a cardboard sketch as android project and opened it in eclipse to sign and export, but it gave me this error:

[code]

Seems to me it can have something to do with this, but I might be wrong.

[2016-08-31 22:17] codeanticode commented on #223
You need to import the cardboard packages manually into your Eclipse project (Processing does it automatically when you run the sketch). Otherwise it won't be able to resolve the dependencies on CardboardActivity and other required classes.

Note that you can export your sketch as a signed package directly from the PDE, last time I tried from using Eclipse to develop Carboard apps I run into troub

[2016-09-02 14:22] codeanticode opened #244 "Create gradle project when exporting sketch"
The Export Android Project creates an ant project, we should switch to gradle which is the default adopted by Android Studio.

[2016-09-03 13:04] raft75 opened #245 "mousePressed not working correctly in Galaxy S2"
I have an issue with the following code, copied from http://android.processing.org/tutorials/getting_started/index.html
On my Galaxy S3 (Android 4.4.2) it works perfectly, but on my Galaxy S2 (Android 4.1.2) the event mousePressed is not recognized half of the times, so I have to tap the screen twice instead of once.
I have also tried a different Galaxy S2, same issue.

void setup() {
  fullScreen

[2016-09-04 07:48] raft75 commented on #245
The problem is related to fullScreen(). If I don't use that, but instead use size(800,480), that is the full screen size of my Galaxy S2, everything works correctly. Of course this is not a good solution because it's the wrong size for most other devices.
The workaround I'm using now to have everything work as expected is:
void settings() {
    size(displayWidth, displayHeight);
}

[2016-09-07 23:58] codeanticode commented on #245
Thanks for the report and the workaround. I will look into it.

[2016-09-08 23:04] nakednous opened #246 "registerMethod not supported"
I noticed that `registerMethod` for the Android `MotionEvent` and `KeyEvents` are not supported. If I remember well the later was supported in the past. I was wondering whether or not they will be supported in future releases. I wish they will, otherwise I don't see how to parse the event within a third party library,  but by declaring a `public boolean surfaceTouchEvent(MotionEvent event)` within

[2016-09-08 23:10] nakednous opened #247 "library data resources not loaded"
I noticed that the library third parties `data` folder get not loaded as it is done in the desktop version, e.g., this library [data folder](https://github.com/remixlab/proscene/tree/master/data) doesn't get loaded in Android whereas it gets loaded in the desktop. A workaround is to include the data folder in all the sketches requiring it which in my case are all of them,  as it's done [here](http

[2016-09-10 08:13] pvtmert commented on #33
i think you need to hold menu button

or try android.view.Keyevent.KEYCODE_MENU

[2016-09-10 11:15] raft75 opened #248 "Possible bug in createFont()"
The following code works correctly in Java mode, but not in Android.
In Java mode the text appears smaller or bigger when I change the size parameter of createFont().
In Android mode the text is always very small. As a workaround to have a consistent behaviour between Java mode and Android mode, I use textSize() with the desired size after createFont().
Tested with Processing 3.2.1 on Galaxy S3 (A

[2016-09-12 21:15] nakednous opened #249 "obj PShape textures are not loaded"
as the titles says, PShapes textures get not loaded. For an example see [this](https://github.com/remixlab/proscene/tree/master/examples/Droid/FrameInteraction) (that works as expected in the desktop).

[2016-09-13 11:46] santafebound opened #250 "save()"
What does this do in Android Processing? Can I create a bitmap from my current sketch? How can I then access this bitmap?

[2016-09-14 12:36] PandaBalls opened #251 "PImage resize() problem"
[code]

while in android mode, if PImage load from file. resize() function is fine to work.
But i tried to create a PImage for grabber image from PGraphics , resize() function doesn't work.
It works in Java Mode..
console through out the exceptions :
java.lang.NullPointerException: Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference
    at android.g

[2016-09-14 12:47] PandaBalls commented on #21
same issue for me.. can't resize() for non-fileloaded PImage.

[2016-09-20 14:37] codeanticode opened #252 "implement layout() function to embed sketch into larger app"
This could be used as follows:

[code]

The sketch will be created in full screen mode inside the parent layout.

[2016-09-20 15:10] codeanticode commented on #249
what version of the mode are you using?

[2016-09-20 15:12] codeanticode commented on #248
I get text with the correct size depending on the parameter I pass to createFont().

What version of the mode are you using, the latest stable release available through the Contributions Manager?

[2016-09-20 15:16] codeanticode commented on #250
It does save the current content of the sketch view as a file in the [internal storage](https://developer.android.com/guide/topics/data/data-storage.html#filesInternal), but thinking about it, should save to the external storage instead so it can be accessed by the user and transferred to the computer. Sounds right?

[2016-09-20 16:51] santafebound commented on #250
That would be desirable, yes. As well as being able to share to external applications.

[2016-09-21 15:35] unrealkate opened #253 "Application randomly (mostly) crashed at start."
When building sketch with Processing IDE 3.2.1 in Android Mode on PC, installed APK fails to start on mobile phone, randomly crashing at start. After hitting the icon several times it might run well. Same sketch compiled with APDE on the phone itself runs perfectly.

My phone is: Philips Xenium I908 (with FullHD display 1920x1080 and 2 GB RAM)
My pc runs: Windows 8.1 Pro x64 and Processing 3.2.1 (

[2016-09-21 15:44] unrealkate commented on #253
Tested with the following simple sketch:

I tried to remove a call to background() function but with no success.

[2016-09-22 05:25] raft75 commented on #248
Yes, the Android mode I'm using is the latest stable release available through the Contributions Manager.

[2016-09-27 20:02] sesmusician commented on #253
try  fullScreen(P2D);
fixed the problem to me,but it is slower and it looks ugly.

[2016-09-28 04:49] brew4321 commented on #253
I've been making a game and it kept crashing. (I had the same error you do, and it sometimes works, and sometimes doesn't). I started to suspect it had something to do with PVectors so I whittled the code down to the following minimal program that still gives me the error:
[code]
I was going to open a new issue here, but just saw yours.
Also I noticed the size function seems to be critical to the

[2016-10-02 23:41] nakednous commented on #249
3.0.1

[2016-10-08 23:23] jwill commented on #244
+1. I think it might also bundle a gradle wrapper so that the resulting package can be run even if the person doesn't have Android Studio installed.

[2016-10-09 19:29] nclavaud opened #254 "Cannot run program "keytool""
I'm running `Processing 3.2.1` on `Ubuntu 16.04.1` and I have installed `Android mode 3.0.1` using the Contribution Manager. I have been prompted to install the Android SDK and I end up with `Android SDK 6.0 (23)` installed.

When trying to run the [Getting started tutorial](http://android.processing.org/tutorials/getting_started/index.html) app on my device, I get the build error below, complaini

[2016-10-10 07:58] nclavaud commented on #254
Actually the `keytool` executable is available at `/usr/bin/keytool` on my machine.
[code]

I could alias it, and managed to build the example application succesfully.
[code]

This step is not documented. Should we document it in [Getting started tutorial](http://android.processing.org/tutorials/getting_started/index.html)?

[2016-10-12 21:56] codeanticode commented on #254
@nclavaud thanks for your report, and the workaround. The mode should not try to run a missing keytool binary though. Will look into it!

[2016-10-15 19:33] brew4321 opened #256 "Touching the screen with more than one finger messes up mousePressed"
Try writing a simple app with something to keep track of the `mousePressed` variable.
Something like this:

[code]

or a println.. or system log if you're in android studio:

[code]

Then test it on a physical device.
Putting a finger on the screen changes it to true, lifting it changes it to false... But there is a problem when you put more than one finger down at a time. It can lock the variable

[2016-10-15 19:51] brew4321 commented on #256
This workaround seems to work:
`import android.view.MotionEvent;`
...
[code]

[2016-10-16 09:13] pierrep commented on #254
I have experienced this on Ubuntu 16.04 as well. I had to install the java SDK though to get access to the key tool and perform the above workaround.

[2016-10-24 02:51] kacboy opened #257 "Custom fonts lagging application"
So I'm building an android game which I including using the usual Processing stuff:
[code]
When I run this application on my android phone it creates a lot of lag. It gets progressively worse with more text() methods being used at once. I'm not sure what I can do about this... **is there a better/different way than PFont to load custom fonts when making Processing apps for Android?**

Here's what